
<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section offers">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">
        <%= render 'producer_admin/events/menu' %>
      </div>
      <div class="column is-8">
        <%= render 'producer_admin/events/header' %>
        <div class="box">
        	<div class="level">
        		<div class="level-left">
        			<div class="level-item">
			        	<p class="is-uppercase has-text-weight-semibold has-text-grey">Gerenciar ingressos</p>
			        </div>
		        </div>
	        </div>
	        <div id="offers-create-area" class="section has-text-centered">
	        	<div class="subtitle is-6">
		        	<p>Qual tipo de ingresso você deseja criar?</p>	
		        </div>
		        <div class="">
						<a id="offer-button" class="button">
							<span class="icon has-text-success">
							  <i class="fas fa-plus"></i>
							</span>
							<span>Ingresso Pago</span>
						</a>
						<a id="offer-button" class="button">
							<span class="icon has-text-success">
							  <i class="fas fa-plus"></i>
							</span>
							<span>Ingresso Gratuito</span>
						</a>
		        </div>
	        </div>
	        <div class="tabs is-fullwidth">
	        	<ul>
	        		<li class="is-active">
	        			<a>
	        				<span>Ativos</span>
	        			</a>
	        		</li>
	        		<li>
	        			<a>
	        				<span>Não Ativos</span>
	        			</a>
	        		</li>
	        	</ul>
	        </div>
	        <div class="table-container">
						<table class="table is-fullwidth">
							<thead>
								<th>Nome</th>
								<th>Vendidos/Total</th>
								<th>Preço</th>
								<th>Preço final</th>
								<th></th>
							</thead>
							<tbody>
								<% @offers.each do |offer| %>
									<tr>
										<td><%= offer.name %></td>
										<td><%= "#{offer.sold}/#{offer.quantity}" %></td>
										<td><%= offer.price.format %></td>
										<td><%= offer.price_with_service_fee.format %></td>
										<td>
											<a style="margin-right: 8px;" data-target="<%= 'offer_' + offer.id.to_s %>">
								        <span class="icon">
									        <i class="fas fa-edit"></i>
										    </span>
											</a>
											<a data-target="<%= 'offer_' + offer.id.to_s %>">
								        <span class="icon">
									        <i class="fas fa-trash"></i>
										    </span>
											</a>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
      </div>
    </div>
	</div>
</section>