<% provide(:title, "Login") %>
<% content_for :navbar do %>
  &nbsp;
<% end %>
<% content_for :footer do %>
  &nbsp;
<% end %>

<%= javascript_pack_tag "users/session" %>

<div class="usersBg">
  <div class="usersCard">
    <div class="logo">
      <%= link_to image_tag(asset_pack_path("media/assets/images/logo-grad.svg"), alt:'PartiuIngresso.com', width:'33'), root_path %>
    </div>
    <div class="form">
      <div class="usersTitle">
        Faça o login
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <label class="label">Email</label>
            <div class="control email">
              <%= f.email_field :email, autocomplete: "email", autofocus: true, class: "input", placeholder: "nome@exemplo.com" %>
            </div>
        </div>

        <div class="field">
          <label class="label">Senha</label>
          <div class="control pass">
            <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "••••••••" %>
            <div class="viewPass"></div>
          </div>
        </div>

        <div class="bottomLogin">
          <% if devise_mapping.rememberable? %>
            <div class="rememberLogin">
              <%= f.check_box :remember_me, class: "checkbox" %>
              Lembrar-me
            </div>
            <div class="helpLink">
              Precisa de ajuda?
            </div>
          <% end %>
        </div>

        <div class="signIn">
          <%= f.button "Entrar", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;Aguarde" }, class: "button" %>
          <%= link_to "Ainda não é cadastrado?", new_registration_path(resource_name) %>
        </div>
      <% end %>
    </div>
    <div class="needHelp">
      <div class="usersTitle">
        Precisa de ajuda?
      </div>
      <div class="content">
        <%= render "users/shared/links" %>
        <a class="goBack"><- Voltar</a>
      </div>
    </div>
  </div>
</div>