<section class="section hero">
  <div class="container hero-content">
  </div>
</section>
<section class="section events-edit">
	<div class="container">		
		<div class="columns is-centered">

			<div class="column is-3">
				<%= render 'producer_admin/menu' %>
			</div>

			<div class="column is-8">
				<p class="title is-size-2">Editar Evento</p>
				<%= form_for @event do |f|%>
	       
	      <% if @event.errors.any? %>
        <article class="message is-danger">
          <div class="message-body">
            <h2><%= pluralize(event.errors.count, "erro") %>:</h2>
            <ul>          	
              <% event.errors.full_messages.each do |message| %>
              	<li><%= message %></li>
	          	<% end %>
            </ul>
          </div>
        </article>
        <% end %>

				<div class="tile is-ancestor">
					<div class="tile is-parent is-vertical">
						<div class="tile is-child box">
							<label class="label">Nome do evento</label>
							<div class="control has-icons-right">
								<%= f.text_field :name, autofocus: true, class: "input", placeholder: "Nome do evento" %>
								<span class="icon is-right has-text-danger">
									<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
								</span>
							</div>
						</div>
						<div class="tile is-child box">
							<label class="label">Vídeo</label>
							<div class="control">
								<%= f.text_field :video, autofocus: true, class: "input", placeholder: "Link do vídeo" %>
							</div>
						</div>
					</div>
				</div>
				<div class="tile is-ancestor">
					<div class="tile is-parent">
						<div class="tile is-child box">
							<label class="label">Imagem hero</label>
	            <div class="field control has-icons-right">
	              <div class="file is-info has-name" style="display: block;">
	                <label class="file-label">
	                  <%= f.file_field :hero_image, class: "file-input", data: { target: "hero-file"} %>
	                  <span class="file-cta">
	                    <span class="file-icon">
	                      <i class="fas fa-upload"></i>
	                    </span>
	                    <span class="file-label">
	                      Selecione...  
	                    </span>
	                  </span>
	                  <span id="hero-file" class="file-name" style="width:11rem"></span>
	                  <span class="icon is-right has-text-danger">
	                    <i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
	                  </span>
	                </label>
	              </div>
	            </div>
						</div>
					</div>
					<div class="tile is-parent">
						<div class="tile is-child box">
							<label class="label">Imagem conteúdo</label>
	            <div class="field control has-icons-right">
	              <div class="file is-info has-name" style="display: block;">
	                <label class="file-label">
	                  <%= f.file_field :content_image, class: "file-input", data: { target: "content-file"} %>
	                  <span class="file-cta">
	                    <span class="file-icon">
	                      <i class="fas fa-upload"></i>
	                    </span>
	                    <span class="file-label">
	                      Selecione...
	                    </span>
	                  </span>
	                  <span id="content-file" class="file-name" style="width:11rem"></span>
	                  <span class="icon is-right has-text-danger">
	                    <i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
	                  </span>
	                </label>
	              </div>
	            </div>
						</div>
					</div>
					<div class="tile is-parent">
						<div class="tile is-child box">
							<label class="label">Imagens de depoimento</label>
	            <div class="field control has-icons-right">
	              <div class="file is-info has-name" style="display: block;">
	                <label class="file-label">
	                  <%= f.file_field :testimonial_images, multiple: true, class: "file-input", data: { target: "testimonial-file"} %>
	                  <span class="file-cta">
	                    <span class="file-icon">
	                      <i class="fas fa-upload"></i>
	                    </span>
	                    <span class="file-label">
	                      Selecione...
	                    </span>
	                  </span>
	                  <span id="testimonial-file" class="file-name" style="width:11rem"></span>
	                  <span class="icon is-right has-text-danger">
	                    <i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
	                  </span>
	                </label>
	              </div>
	            </div>
						</div>
					</div>
				</div>

				<div class="tile is-ancestor">
					<div class="tile is-parent is-vertical is-12">
						<div class="tile is-child box">
							<label class="label">Headline</label>
							<div class="control">
								<%= f.text_area :headline, class: "textarea", rows: 2, maxlength: 200 %>
							</div>
						</div>
					</div>
				</div>

				<div class="tile is-ancestor">
					<div class="tile is-parent is-vertical is-12">
						<div class="tile is-child box">
							<div class="columns">
								<div class="column">
									<label class="label">Data de Início</label>
									<div class="control has-icons-right">
										<%= f.datetime_local_field :start_t, class: "input" %>
										<span class="icon is-right has-text-danger">
											<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
										</span>
									</div>
								</div>
								<div class="column">
									<label class="label">Data de Término</label>
									<div class="control">
										<%= f.datetime_local_field :end_t, class: "input" %>
									</div>
								</div>
							</div>
						</div>
						<div class="tile is-child box">
							<label class="label">Descrição</label>
							<div class="control">
								<%= f.trix_editor :description %>
							</div>
						</div>
						<div class="tile is-child box">
							<label class="label">Features</label>
							<div class="control">
								<%= f.text_area :features, class:"textarea" %>
							</div>
						</div>
						<div class="tile is-child box">
							<label class="label">Convite</label>
							<div class="control">
								<%= f.text_area :invite_text, class:"textarea" %>
							</div>
						</div>
					</div>
				</div>

				<p class="title is-size-3">Local do Evento</p>

				<div class="tile is-ancestor">
					<div class="tile is-parent is-vertical">
						<div class="tile is-child box">
							<%= f.fields_for :address do |address_f| %>
								<div class="field">
									<label class="label">Nome</label>
									<div class="control has-icons-right">
										<%= address_f.text_field :name, class: "input" %>
										<span class="icon is-right has-text-danger">
											<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
										</span>
									</div>
								</div>

								<div class="columns is-multiline" style="margin-top: unset;">
									<div class="column is-6">
										<label class="label">Endereço</label>
										<div class="control has-icons-right">
											<%= address_f.text_field :address, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">Número</label>
										<div class="control has-icons-right">
											<%= address_f.text_field :number, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">Complemento</label>
										<div class="control">
											<%= address_f.text_field :complement, class: "input" %>
										</div>
									</div>

									<div class="column is-3">
										<label class="label">Bairro</label>
										<div class="control has-icons-right">
											<%= address_f.text_field :district, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">Cidade</label>
										<div class="control has-icons-right">
											<%= address_f.text_field :city, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">Estado</label>
										<div class="control has-icons-right">
											<%= address_f.text_field :state, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">CEP</label>
										<div class="control has-icons-right">
											<%= address_f.text_field :zipcode, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>										
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>

				
				<%= render partial: "offer_modal" %>
				<div class="hidden-fields">
					<% @event.offers.each do |offer| %>
						<% if offer.id? %>
							<div id="<%= 'offer_' + offer.id.to_s %>" class="offer-fields">
						<% else %>
							<div class="empty-fields">
						<% end %>
							<%= f.fields_for :offers, offer do |offer_f| %>
								<%= render partial: "offer_fields", locals: { field: offer_f } %>
							<% end %>
						</div>
					<% end %>
				</div>
				<div class="field">
					<a id="offer-button" class="button is-rounded">
						<span class="icon has-text-success">
						  <i class="fas fa-plus"></i>
						</span>
						<span class="subtitle is-size-5">ADICIONAR OFERTA</span>
					</a>
				</div>
				<table id="offers-table" class="table is-fullwidth">
					<thead>
						<th>Nome</th>
						<th>Quantidade</th>
						<th>Preço</th>
						<th></th>
					</thead>
					<tbody>
						<tr class="prototype-row">
							<td class="name-cell"></td>
							<td class="quantity-cell"></td>
							<td class="price-cell"></td>
							<td>
								<a>
					        <span class="icon">
						        <i class="fas fa-edit"></i>
							    </span>
								</a>
							</td>
						</tr>
						<% @event.offers.each do |offer| %>
							<% if offer.id? %>
								<tr>
									<td class="name-cell"><%= offer.name %></td>
									<td class="quantity-cell"><%= offer.quantity %></td>
									<td class="price-cell"><%= offer.price %></td>
									<td>
										<a data-target="<%= 'offer_' + offer.id.to_s %>">
							        <span class="icon">
								        <i class="fas fa-edit"></i>
									    </span>
										</a>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
					</tbody>
				</table>

				<div class="control" style="margin-top: 2.5rem;">
          <%= f.button "Salvar", class: "button is-primary is-medium" %>
	      </div>
					<% end %>

			</div>
		</div>
	</div>
</section>
