<section class="section hero">
  <div class="container hero-content">
  </div>
</section>
<section class="section">
	<div class="container">		
		<div class="columns is-centered">

			<div class="column is-3">
				<%= render 'admin/producer_admin_menu' %>
			</div>

			<div class="column is-8">
				<p class="title is-size-2">Dados Financeiros</p>
				<%= form_for @company_finance do |f|%>
	       
					<div class="tile is-ancestor">
						<div class="tile is-parent is-vertical">
							<div class="tile is-child box">
								<div class="columns is-multiline" style="margin-top: unset;">
									<div class="column is-6">
										<label class="label">Nome</label>
										<div class="control has-icons-right">
											<%= f.text_field :legal_name, class: "input", placeholder: "Nome do titular" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-6">
										<label class="label">Documento</label>
										<div class="columns">
											<div class="column is-4">
												<div class="select">
													<%= f.select :document_type do %>
														<%= content_tag(:option, "CPF", value: "CPF") %>
														<%= content_tag(:option, "CNPJ", value: "CNPJ") %>
													<% end %>
												</div>
											</div>
											<div class="column is-8">
												<div class="control has-icons-right">
													<%= f.text_field :document_number, class: "input", placeholder: "___.___.___-__" %>
													<span class="icon is-right has-text-danger">
														<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">Número do banco</label>
										<div class="control">
											<div class="select">
												<%= f.select :bank_code do %>
													<%= content_tag :option, "341", value: "341" %>
													<%= content_tag :option, "300", value: "300" %>
													<%= content_tag :option, "322", value: "322" %>
													<%= content_tag :option, "455", value: "455" %>
													<%= content_tag :option, "077", value: "077" %>
												<% end %>
											</div>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">Tipo de conta</label>
										<div class="control">
											<div class="select">
												<%= f.select :account_type do %>
													<%= content_tag :option, "Conta Corrente", value: "CHECKING" %>
													<%= content_tag :option, "Conta Poupança", value: "SAVING" %>
												<% end %>
											</div>
										</div>
									</div>
									<div class="column is-2">
										<label class="label">Agência</label>
										<div class="control has-icons-right">
											<%= f.text_field :agency_number, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-1">
										<label class="label">Dígito</label>
										<div class="control">
											<%= f.text_field :agency_check_number, class: "input" %>
										</div>
									</div>
									<div class="column is-2">
										<label class="label">Conta</label>
										<div class="control has-icons-right">
											<%= f.text_field :account_number, class: "input" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-1">
										<label class="label">Dígito</label>
										<div class="control">
											<%= f.text_field :account_check_number, class: "input" %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="control" style="margin-top: 2.5rem;">
	          <%= f.button "Salvar", class: "button is-primary is-medium" %>
		      </div>
				<% end %>

			</div>
		</div>
	</div>
</section>
