<section class="section hero">
  <div class="container hero-content">
  </div>
</section>
<section class="section">
	<div class="container">		
		<div class="columns is-centered">

			<div class="column is-3">
				<%= render 'admin/producer_admin_menu' %>
			</div>

			<div class="column is-8">
				<p class="title is-size-2">Dados Financeiros</p>
				<%= form_for @company_finance do |f|%>
	       
					<div class="tile is-ancestor">
						<div class="tile is-parent is-vertical">
							<div class="tile is-child box">
								<div class="columns is-multiline" style="margin-top: unset;">
									<div class="column is-6">
										<label class="label">Nome</label>
										<div class="control has-icons-right">
											<%= f.text_field :legal_name, class: "input", placeholder: "Nome do titular" %>
											<span class="icon is-right has-text-danger">
												<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
											</span>
										</div>
									</div>
									<div class="column is-6">
										<label class="label">Documento</label>
										<div class="field has-addons">
											<div class="control">
												<div class="select">
													<%= f.select :document_type do %>
														<%= content_tag(:option, "CPF", value: "CPF") %>
														<%= content_tag(:option, "CNPJ", value: "CNPJ") %>
													<% end %>
												</div>
											</div>
											<div class="control is-expanded has-icons-right">
												<%= f.text_field :document_number, class: "input", placeholder: "___.___.___-__" %>
												<span class="icon is-right has-text-danger">
													<i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="column is-6">
										<label class="label">Número do banco</label>
										<div class="control">
											<div class="select">
											<%= f.select :bank_code, options_for_select([['BANCO DO BRASIL S.A. (Banco do Brasil)', '001'],['BANCO BRADESCO S.A. (Bradesco)', '237'], ['BANCO ITAU S.A. (Itaú)', '341'],['BANCO ABN AMRO REAL S.A. (Real)', '356'], ['CAIXA ECONOMICA FEDERAL (Caixa Econômica Federal)', '104'], ['BANCO SANTANDER S.A. (Santander Banespa)', '033'], ['BANCO INTERMEDIUM S.A.', '077'], ['HSBC BANK BRASIL S.A.BANCO MULTIPLO (HSBC)', '399'], ['BANCO CITIBANK S.A.', '745'], ['UNIBANCO UNIAO DE BANCOS BRASILEIROS S.A. (Unibanco)', '409'], ['BANCO DO ESTADO DO RIO GRANDE DO SUL S.A. (Banrisul)', '041'], ['BANCO DO ESTADO DO PARÁ S/A. (BANPARÁ)', '037'], ['BANCO NOSSA CAIXA S.A (Nossa Caixa)', '151'], ['BANCO MERCANTIL DO BRASIL S.A. (Mercantil do Brasil)', '389'], ['BANCO DO NORDESTE DO BRASIL S.A (Banco do Nordeste (BNB) )', '004'], ['BANESTES S.A BANCO DO ESTADO DO ESPIRITO SANTO (Banestes)', '021'], ['BANCO SAFRA S.A. (Safra)', '422'], ['BANCO DA AMAZONIA S.A. (Banco da Amazônia (Basa))', '003'], ['Banco do Estado de Sergipe S.A (Banese)', '047'], ['Banco de Brasília S.A. (BRB)', '070'], ['Banco Votorantim S.A (Votorantim)', '655'], ['Banco BBM S.A (BBM)', '107'], ['Banco Alfa S.A (Alfa)', '025'], ['Banco Cacique S. A. (Cacique)', '263'], ['BANCO CRUZEIRO DO SUL S.A. (Cruzeiro do Sul)', '229'], ['BANCO FININVEST S.A. (Fininvest)', '252'], ['BANCO IBI S.A - BANCO MULTIPLO (Banco IBI)', '063'], ['BANCO PANAMERICANO S.A. (PanAmericano)', '623'], ['BANCO RENDIMENTO S.A. (Banco Rendimento)', '633'], ['BANCO SIMPLES S.A. (Banco Simples)', '749'], ['BANCO ACOMERCIAL E DE INVESTIMENTO SUDAMERIS S.A. (Sudameris)', '215'], ['BANCO COOPERATIVO DO BRASIL S.A. - (BANCOOB)', '756'], ['BANCO COOPERATIVO SICREDI S.A. (SICREDI)', '748'], ['LEMON BANK BANCO MÚLTIPLO S..A (Lemon Bank)', '065'], ['BPN BRASIL BANCO MÚLTIPLO S.A. (BPN)', '069'], ['BANIF - BANCO INTERNACIONAL DO FUNCHAL (BRASIL), S.A. (Banif)', '719'], ['BANCO BMG S.A. (BMG)', '318'], ['BANCO DO ESTADO DE SANTA CATARINA S.A.', '027'], ['BANCO UBS PACTUAL S.A.', '208'], ['BANCO ITAUBANK S.A.', '479'], ['BANCO UNICRED', '136'], ['BANCO ORIGINAL', '212'], ['CECRED-COOPERATIVA CENTRAL DE CREDITO URBANO', '085'], ['NEON PAGAMENTOS S.A', '735'], ['BNDES', '007'], ['CREDICOAMO', '010'], ['C.SUISSE HEDGING-GRIFFO CV S/A', '011'], ['BANCO INBURSA', '012'], ['NATIXIS BRASIL S.A. BM', '014'], ['UBS BRASIL CCTVM S.A.', '015'], ['CCM DESP TRÃ‚NS SC E RS', '016'], ['BNY MELLON BCO S.A.', '017'], ['BCO TRICURY S.A.', '018'], ['BCO BANDEPE S.A.', '024'], ['BANCO ITAÃš CONSIGNADO S.A.', '029'], ['BCO BBI S.A.', '036'], ['BCO CARGILL S.A.', '040'], ['CONFIDENCE CC S.A.', '060'], ['HIPERCARD BM S.A.', '062'], ['GOLDMAN SACHS DO BRASIL BM S.A', '064'], ['BCO MORGAN STANLEY S.A.', '066'], ['BCO. J.SAFRA S.A.', '074'], ['BCO ABN AMRO S.A.', '075'], ['BCO KDB BRASIL S.A.', '076'], ['HAITONG BI DO BRASIL S.A.', '078'], ['BCO ORIGINAL DO AGRO S/A', '079'], ['B&T CC LTDA.', '080'], ['BBN BCO BRASILEIRO DE NEGOCIOS S.A.', '081'], ['BANCO TOPÃZIO S.A.', '082'], ['BCO DA CHINA BRASIL S.A.', '083'], ['UNIPRIME NORTE DO PARANÃ - CC', '084'], ['CCR REG MOGIANA', '089'], ['CCCM UNICRED CENTRAL RS', '091'], ['BRK S.A. CFI', '092'], ['PÓLOCRED SCMEPP LTDA.', '093'], ['BANCO FINAXIS', '094'], ['TRAVELEX BANCO DE CÃ‚MBIO S.A.', '095'], ['BCO B3 S.A.', '096'], ['CCC NOROESTE BRASILEIRO LTDA.', '097'], ['CREDIALIANÃ‡A CCR', '098'], ['UNIPRIME CENTRAL CCC LTDA.', '099'], ['PLANNER CV S.A.', '100'], ['RENASCENCA DTVM LTDA', '101'], ['XP INVESTIMENTOS CCTVM S/A', '102'], ['LECCA CFI S.A.', '105'], ['PORTOCRED S.A. - CFI', '108'], ['OLIVEIRA TRUST DTVM S.A.', '111'], ['MAGLIANO S.A. CCVM', '113'], ['CENTRAL COOPERATIVA DE CRÃ‰DITO NO ESTADO DO ESPÃRITO SANTO', '114'], ['ADVANCED CC LTDA', '117'], ['STANDARD CHARTERED BI S.A.', '118'], ['BCO WESTERN UNION', '119'], ['BCO RODOBENS S.A.', '120'], ['BCO AGIBANK S.A.', '121'], ['BCO BRADESCO BERJ S.A.', '122'], ['BCO WOORI BANK DO BRASIL S.A.', '124'], ['BRASIL PLURAL S.A. BCO.', '125'], ['BR PARTNERS BI', '126'], ['CODEPE CVC S.A.', '127'], ['MS BANK S.A. BCO DE CÂMBIO', '128'], ['UBS BRASIL BI S.A.', '129'], ['CARUANA SCFI', '130'], ['TULLETT PREBON BRASIL CVC LTDA', '131'], ['ICBC DO BRASIL BM S.A.', '132'], ['CRESOL CONFEDERAÇÃO', '133'], ['BGC LIQUIDEZ DTVM LTDA', '134'], ['MULTIMONEY CC LTDA.', '137'], ['GET MONEY CC LTDA', '138'], ['INTESA SANPAOLO BRASIL S.A. BM', '139'], ['EASYNVEST - TÃTULO CV SA', '140'], ['BROKER BRASIL CC LTDA.', '142'], ['TREVISO CC S.A.', '143'], ['BEXS BCO DE CAMBIO S.A.', '144'], ['LEVYCAM CCV LTDA', '145'], ['GUITTA CC LTDA', '146'], ['FACTA S.A. CFI', '149'], ['ICAP DO BRASIL CTVM LTDA.', '157'], ['CASA CREDITO S.A. SCM', '159'], ['COMMERZBANK BRASIL S.A. - BCO MÚLTIPLO', '163'], ['BCO OLÉ BONSUCESSO CONSIGNADO S.A.', '169'], ['ALBATROSS CCV S.A', '172'], ['BRL TRUST DTVM SA', '173'], ['PERNAMBUCANAS FINANC S.A. CFI', '174'], ['GUIDE', '177'], ['CM CAPITAL MARKETS CCTVM LTDA', '180'], ['DACASA FINANCEIRA S/A - SCFI', '182'], ['SOCRED S.A. SCM', '183'], ['BCO ITAÚ BBA S.A.', '184'], ['ATIVA S.A. INVESTIMENTOS CCTVM', '188'], ['HS FINANCEIRA', '189'], ['SERVICOOP', '190'], ['NOVA FUTURA CTVM LTDA', '191'], ['PARMETAL DTVM LTDA', '194'], ['FAIR CC S.A.', '196'], ['STONE PAGAMENTOS S.A.', '197'], ['BCO BRADESCO CARTOES S.A.', '204'], ['BCO ARBI S.A.', '213'], ['BANCO JOHN DEERE S.A.', '217'], ['BCO BS2 S.A.', '218'], ['BCO CRÉDIT AGRICOLE BR S.A.', '222'], ['BCO FIBRA S.A.', '224'], ['BANCO CIFRA', '233'], ['BCO CLASSICO S.A.', '241'], ['BCO MÁXIMA S.A.', '243'], ['BCO ABC BRASIL S.A.', '246'], ['BANCO INVESTCRED UNIBANCO S.A.', '249'], ['BCV', '250'], ['BEXS CC S.A.', '253'], ['PARANA BCO S.A.', '254'], ['NU PAGAMENTOS S.A.', '260'], ['BCO FATOR S.A.', '265'], ['BCO CEDULA S.A.', '266'], ['BARIGUI CH', '268'], ['HSBC BANCO DE INVESTIMENTO', '269'], ['SAGITUR CC LTDA', '270'], ['IB CCTVM LTDA', '271'], ['AGK CC S.A.', '272'], ['CCR DE SÃO MIGUEL DO OESTE', '273'], ['SENFF S.A. - CFI', '276'], ['GENIAL INVESTIMENTOS CVM S.A.', '278'], ['CCR DE PRIMAVERA DO LESTE', '279'], ['AVISTA S.A. CFI', '280'], ['CCR COOPAVEL', '281'], ['RB CAPITAL INVESTIMENTOS DTVM LTDA.', '283'], ['FRENTE CC LTDA.', '285'], ['CCR DE OURO', '286'], ['CAROL DTVM LTDA.', '288'], ['PAGSEGURO', '290'], ['BS2 DTVM S.A.', '292'], ['LASTRO RDV DTVM LTDA', '293'], ['VIPS CC LTDA.', '298'], ['SOROCRED CFI S.A.', '299'], ['BCO LA NACION ARGENTINA', '300'], ['BPP IP S.A.', '301'], ['TERRA INVESTIMENTOS DTVM', '307'], ['CAMBIONET CC LTDA', '309'], ['VORTX DTVM LTDA.', '310'], ['BCO CCB BRASIL S.A.', '320'], ['BCO SOCIETE GENERALE BRASIL', '366'], ['BCO MIZUHO S.A.', '370'], ['BCO J.P. MORGAN S.A.', '376'], ['BCO BRADESCO FINANC. S.A.', '394'], ['BCO CAPITAL S.A.', '412'], ['BCO MUFG BRASIL S.A.', '456'], ['BCO SUMITOMO MITSUI BRASIL S.A.', '464'], ['BCO CAIXA GERAL BRASIL S.A.', '473'], ['CITIBANK N.A.', '477'], ['DEUTSCHE BANK S.A.BCO ALEMAO', '487'], ['JPMORGAN CHASE BANK', '488'], ['ING BANK N.V.', '492'], ['BCO REP ORIENTAL URUGUAY BCE', '494'], ['BCO LA PROVINCIA B AIRES BCE', '495'], ['BCO CREDIT SUISSE (BRL) S.A.', '505'], ['SENSO CCVM S.A.', '545'], ['BCO LUSO BRASILEIRO S.A.', '600'], ['BCO INDUSTRIAL DO BRASIL S.A.', '604'], ['BCO VR S.A.', '610'], ['BCO PAULISTA S.A.', '611'], ['BCO GUANABARA S.A.', '612'], ['OMNI BANCO S.A.', '613'], ['BCO FICSA S.A.', '626'], ['BCO INTERCAP S.A.', '630'], ['BCO TRIANGULO S.A.', '634'], ['BCO SOFISA S.A.', '637'], ['BCO ALVORADA S.A.', '641'], ['BCO PINE S.A.', '643'], ['ITAÚ UNIBANCO HOLDING S.A.', '652'], ['BCO INDUSVAL S.A.', '653'], ['BCO A.J. RENNER S.A.', '654'], ['BCO DAYCOVAL S.A', '707'], ['BCO OURINVEST S.A.', '712'], ['BCO CETELEM S.A.', '739'], ['BCO RIBEIRAO PRETO S.A.', '741'], ['BANCO SEMEAR', '743'], ['BCO MODAL S.A.', '746'], ['BCO RABOBANK INTL BRASIL S.A.', '747'], ['SCOTIABANK BRASIL', '751'], ['BCO BNP PARIBAS BRASIL S A', '752'], ['NOVO BCO CONTINENTAL S.A. - BM', '753'], ['BANCO SISTEMA', '754'], ['BOFA MERRILL LYNCH BM S.A.', '755'],['BCO KEB HANA DO BRASIL S.A.', '757']]), {prompt: 'Selecione'} %>
											</div>
										</div>
									</div>
									<div class="column is-3">
										<label class="label">Tipo de conta</label>
	                    <div class="control">
	                    	<div class="select">
													<%= f.select :account_type do %>
														<%= content_tag :option, "Conta Corrente", value: "CHECKING" %>
														<%= content_tag :option, "Couta Poupança", value: "SAVING" %>
		                      <% end %>
		                    </div>
	                    </div>
									</div>
									<div class="column is-3">
										<label class="label">Agência</label>
										<div class="field has-addons">
	                    <p class="control is-expanded has-icons-right">
	                      <%= f.text_field :agency_number, class: "input", placeholder: "0001" %>
	                      <span class="icon is-right has-text-danger">
	                        <i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
	                      </span>
	                    </p>
	                    <p class="control" style="width: 40%;">
	                      <%= f.text_field :agency_check_number, class: "input", placeholder: "DV" %>
	                    </p>
										</div>
									</div>

									<div class="column is-3">
										<label class="label">Conta</label>
										<div class="field has-addons">
	                    <p class="control is-expanded has-icons-right">
	                      <%= f.text_field :account_number, class: "input", placeholder: "0000000" %>
	                      <span class="icon is-right has-text-danger">
	                        <i class="fas fa-asterisk" style="font-size: 0.5rem;"></i>
	                      </span>
	                    </p>
	                    <p class="control" style="width: 40%;">
	                      <%= f.text_field :account_check_number, class: "input", placeholder: "DV" %>
	                    </p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="control" style="margin-top: 2.5rem;">
	          <%= f.button "Salvar", class: "button is-primary is-medium" %>
		      </div>
				<% end %>

			</div>
		</div>
	</div>
</section>
