<aside class="menu">
  <p class="menu-label">
    Painel do Produtor
  </p>
  <ul class="menu-list">
    <li><%= link_to_in_li "Dashboard", backstage_path %></li>
  </ul>
  <p class="menu-label">
    Minha Empresa
  </p>
  <ul class="menu-list">
    <li><%= link_to_in_li "Editar Empresa", edit_company_path(current_user.company) %></li>
  </ul>
  <p class="menu-label">
    Eventos
  </p>
  <ul class="menu-list">
    <li><%= link_to_in_li "Meus Eventos", events_path %></li>
    <li><%= link_to_in_li "Criar Evento", new_event_path %></li>
  </ul>
  <p class="menu-label">
    Financeiro
  </p>
  <ul class="menu-list">
    <% if current_user.company.company_finance.present? %>
      <li><%= link_to_in_li "Dados Financeiros", edit_company_finance_path(current_user.company.company_finance) %></li>
    <% else %>
      <li><%= link_to_in_li "Dados Financeiros", new_company_finance_path %></li>
    <% end %>
    <li><%= link_to_in_li "Saldo", root_path %></li>
  </ul>
</aside>