<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section admin-users">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">
        <%= render 'admin/admin_menu' %>
      </div>
      <div class="column is-8">
        <div class="columns">
          <div class="column">
            <p class="title is-3">Gerenciar Usuários</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <%= form_tag(request.original_url, method: "get") do %>
              <div class="field is-grouped">
                <div class="control is-expanded check-in-search">
                  <input name="q" class="input is-large" type="text" placeholder="Nome ou e-mail" value="<%= params[:q] %>">
                </div>
                <div class="control search">
                  <button class="button is-white is-large"><i class="fas fa-search"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <br />
        <table class="table orders is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Nome</th>
              <th>E-Mail</th>
              <th class="has-text-centered">Qtd. de pedidos</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr class="order row">
                <td>
                  <%= user.name.full %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td class="has-text-centered">
                  <%= user.orders.count %>
                </td>
              </tr>
              <tr class="trhidden is-hidden">
                <td class="tdhidden">
                  <div class="order details">
                    <div class="tile is-ancestor">
                      <div class="tile is-parent">
                        <div class="tile box is-child">
                          <a class="icon close is-pulled-right has-text-grey">
                            <i class="fas fa-times"></i>
                          </a>
                          <br />
                          <p>
                            Nome: <span class="is-size-6 has-text-weight-semibold"><%= user.name %></span>
                          </p>
                          <p>
                            E-mail: <span class="is-size-6 has-text-weight-semibold"><%= user.email %></span>
                          </p>
                          

                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="columns is-centered">
          <div class="column is-6">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>