<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section painel">
  <div class="container">
    <div class="columns is-centered">
        
        <div class="column is-3">        
          <%= render 'admin/admin_menu' %>
        </div>


      <div class="column is-8">
        <p class="title is-size-2">Dashboard</p>


        <div class="tile is-ancestor">
          <div class="tile is-7 is-vertical is-parent">
            <div class="tile box is-child">

              <label class="label is-size-5">Empresas Cadastradas</label>

              <div class="columns">
                <div class="column is-1">
                  <strong>ID</strong>
                </div>
                <div class="column is-11">
                  <strong>Nome</strong>
                </div>
              </div>

              <div class="columns is-multiline">
                <% @companies.each do |company| %>
                  <div class="column is-1">
                    <%= company.id %>
                  </div>

                  <div class="column is-6">
                    <%= company.name %>
                  </div>

                  <div class="column is-5">
                     <%= link_to 'Editar', edit_company_path(company), class: "button is-link is-small" %>
                     <%= link_to 'Gerenciar', manage_company_path(company.id), class: "button is-link is-small" %>

                  </div>

                <% end %>
              </div>
            </div>            
          </div>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <label class="label is-size-5">Resumo</label>
              <div class="content is-small">
                <p>Período:</p>
                <p>Ingressos vendidos:</p>
                <p>Faturamento:</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>