<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section report">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">
        <%= render 'admin/producer_admin_menu' %>
      </div>
      <div class="column is-8">
        <div class="columns">
          <div class="column">
            <p><span class="title is-3">Report de </span><em class="thin is-size-3 has-text-primary"><%= @event.name %></em></p>
            <p class="subtitle is-uppercase is-6"><%= l @event.start_t, format: ("%d de %B de %Y") %> - <%= @event.address.city %>/<%= @event.address.state %></p>
          </div>
          <div class="column is-narrow offer-filter">
            <p>Filtrar por oferta:</p>
            <%= form_tag(request.url, method: "get") do %>
              <div class="select is-small">
                <%= select_tag(:offer, options_from_collection_for_select(@event.offers, :id, :name_with_allotment, params[:offer]), {:include_blank => 'Sem filtro'}) %>
              </div>
              <%= submit_tag "Filtrar", class:"button is-small" %>
            <% end %>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent is-12">
            <div class="tile chart box is-child">
              <p class="title is-5">Vendas em todo o período de atividade</p>
              <div class="tabs">
                <ul>
                  <li class="tablinks" onclick="openTab(event, 'chart_tickets_count')"><a>Ingressos</a></li>
                  <li class="tablinks" onclick="openTab(event, 'chart_sales_count')"><a>Pedidos</a></li>
                  <li class="tablinks" onclick="openTab(event, 'chart_sales_value')"><a>Valor</a></li>
                </ul>
              </div>
              <div id="chart_tickets_count" class="tabcontent">
                <%= line_chart charts_report_tickets_path(offer: params[:offer]), colors: ["#F53237", "#DB3F4B"], label: "Ingressos", thousands: ".", defer: true %>
              </div>
              <div id="chart_sales_count" class="tabcontent">
                <%= line_chart charts_report_count_path(offer: params[:offer]), colors: ["#F53237", "#DB3F4B"], label: "Vendas", thousands: ".", defer: true %>
              </div>
              <div id="chart_sales_value" class="tabcontent">
                <%= column_chart charts_report_value_path(offer: params[:offer]),
                colors: ["#F53237", "#DB3F4B"],
                label: "Valor",
                prefix: "R$ ",
                thousands: ".",
                decimal: ",",
                defer: true
                %>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-4">
            <div class="level box">
              <div class="level-item">
                <span class="icon is-large has-text-primary">
                  <i class="fas fa-3x fa-ticket-alt"></i>
                </span>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="title is-7">PARTICIPANTES</p>
                  <%= @total_tickets %>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="level box">
              <div class="level-item">
                <span class="icon is-large has-text-success">
                  <i class="fas fa-3x fa-dollar-sign"></i>
                </span>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="title is-7">TOTAL LÍQUIDO</p>
                  <%= @total %>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="level box">
              <div class="level-item">
                <span class="icon is-large has-text-warning">
                  <i class="far fa-2x fa-clock"></i>
                </span>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="title is-7">TOTAL PENDENTE</p>
                  <%= @total_pending %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="columns">
          <div class="column">
            <p><span class="title is-4">Lista dos pedidos</span></p>
          </div>
          <div class="column is-narrow">
            <%= link_to request.params.merge(format: :csv) do %>
            <span class="icon is-small has-text-success">
              <i class="far fa-file-excel"></i>
            </span>
            <span class="content is-small">Exportar para CSV</span>
            <% end %>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <%= form_tag(request.original_url, method: "get") do %>
              <div class="field is-grouped">
                <div class="control is-expanded check-in-search">
                  <input name="q" class="input is-large" type="text" placeholder="Nome, e-mail ou # do pedido" value="<%= params[:q] %>">
                </div>
                <div class="control search">
                  <button class="button is-white is-large"><i class="fas fa-search"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <br />
        <table class="table orders is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Data</th>
              <th>Nome</th>
              <th>Nº do Pedido</th>
              <th class="has-text-centered">Qtd.</th>
              <th class="has-text-centered">Receita</th>
              <th class="has-text-centered">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr class="order row">
                <td>
                  <span class="icon">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                  <%= l order.created_at, format: ("%d/%m/%Y") %>
                </td>
                <td>
                  <%= order.user.name %>
                </td>
                <td>
                  <%= order.number %>
                </td>
                <td class="has-text-centered">
                  <%= order.total_quantity %>
                </td>
                <td class="has-text-centered">
                  <%= order.subtotal.format %>
                </td>
                <td class="has-text-centered">
                  <% if order.pending? %>
                    <span class="tag is-warning">
                      <%= Order.human_attribute_name("status.#{order.status}") %>
                    </span>
                  <% elsif order.approved? %>
                    <span class="tag is-success">
                      <%= Order.human_attribute_name("status.#{order.status}") %>
                    </span>
                  <% else %>
                    <span class="tag is-danger">
                      <%= Order.human_attribute_name("status.#{order.status}") %>
                    </span>
                  <% end %>
                </td>
              </tr>
              <tr class="trhidden is-hidden">
                <td class="tdhidden">
                  <div class="order details">
                    <div class="tile is-ancestor">
                      <div class="tile is-parent">
                        <div class="tile box is-child">
                          <% if order.pending? %>
                            <span style="margin-bottom: 10px;" class="tag is-warning">
                              <%= Order.human_attribute_name("status.#{order.status}") %>
                            </span>
                          <% elsif order.approved? %>
                            <span style="margin-bottom: 10px;" class="tag is-success">
                              <%= Order.human_attribute_name("status.#{order.status}") %>
                            </span>
                          <% else %>
                            <span style="margin-bottom: 10px;" class="tag is-danger">
                              <%= Order.human_attribute_name("status.#{order.status}") %>
                            </span>
                          <% end %>
                          <a class="icon close is-pulled-right has-text-grey">
                            <i class="fas fa-times"></i>
                          </a>
                          <p>
                            Nº do pedido: <span class="is-size-6 has-text-weight-semibold"><%= order.number %></span>
                          </p>
                          <p>
                            Evento: <span class="has-text-weight-semibold"><%= order.event.name %></span>
                          </p>
                          <table style="margin-top: 20px;" class="table is-fullwidth">
                            <thead>
                              <th>Participante</th>
                              <th>Email</th>
                              <th>Tipo</th>
                              <th>Valor</th>
                            </thead>
                            <tbody>
                              <% order.ticket_tokens.each do |ticket_token| %>
                                <tr>
                                  <td><%= ticket_token.owner_name %></td>
                                  <td><%= ticket_token.owner_email %></td>
                                  <td><%= ticket_token.offer.name %></td>
                                  <td><%= ticket_token.offer.price.format %></td>
                                </tr>
                              <% end %>
                            </tbody>
                            <tfoot>
                            </tfoot>
                          </table>
                          <% if order.payment.present? %>
                            <div>
                              <p>
                                Total: 
                                <span class="has-text-weight-semibold">
                                  <%= order.subtotal.format %>
                                </span>
                              </p>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="columns is-centered">
          <div class="column is-6">
            <%= paginate @orders %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>