<% provide(:title, @order.event.name) %>
<% content_for :head do %>
  <%= render partial: 'layouts/tags', locals: { fb_pixel: @order.event.fb_pixel, ga_id: @order.event.ga_id } %>
<% end %>
<% content_for :navbar do %>
<%= render 'layouts/header_checkout' %>
<% end %>
<% content_for :footer do %>
<%= render 'layouts/footer_clear' %>
<% end %>

<%= javascript_pack_tag "orders/new" %>

<section class="section checkout">
  <div class="container">
    <div class="columns is-centered ordered-mobile">
      <div class="column is-6 is-offset-1 fl-2">
        <% if @order.free? %>
          <p class="title is-hidden-touch">Confirmar seu pedido</p>
        <% else %>
          <p class="title is-hidden-touch">Confirmar e pagar</p>
        <% end %>
        <% @order_form.errors.messages[:checkout].each do |error_message| %>
          <article class="message is-danger is-hidden-touch animated shake">
            <div class="message-body">
              <div class="columns is-vcentered">
                <div class="column is-1 has-text-centered">
                  <span class="icon is-large">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-lg fa-times fa-stack-1x"></i>
                      <i class="far fa-2x fa-circle"></i>
                    </span>
                  </span>
                </div>
                <div class="column is-11">
                  <p class="content errors">
                    <%= error_message %>
                  </p>
                </div>
              </div>
            </div>
          </article>
        <% end %>
        <%= render 'orders/form' %>
      </div>
      <div class="column is-3 is-forward-1 fl-1">
        <% if @order.free? %>
          <p class="title is-hidden-desktop">Confirmar seu pedido</p>
        <% else %>
          <p class="title is-hidden-desktop">Confirmar e pagar</p>
        <% end %>
        <% @order_form.errors.messages[:checkout].each do |error_message| %>
          <article class="message is-danger is-hidden-desktop animated shake">
            <div class="message-body">
              <div class="columns is-vcentered">
                <div class="column is-1 has-text-centered">
                  <span class="icon is-large">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-lg fa-times fa-stack-1x"></i>
                      <i class="far fa-2x fa-circle"></i>
                    </span>
                  </span>
                </div>
                <div class="column is-11">
                  <p class="content errors">
                    <%= error_message %>
                  </p>
                </div>
              </div>
            </div>
          </article>
        <% end %>
        <div class="card z-10">
          <div class="card-content">
            <p class="offer-title"><%= @order.event.name %></p>
            <div class="offer-summary">
              <span class="icon">
                <i class="far fa-calendar-check"></i>
              </span>
              <span class="offer-start"><%= l @order.event.start_t, format: ("%d de %B de %Y") %></span>
              <br />
              <span class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </span>
              <span class="offer-start"><%= @order.event.address.name %> - <%= truncate(@order.event.address.city, length: 24) %>/<%= @order.event.address.state %></span>
              <br />
              <span class="icon">
                <i class="fas fa-ticket-alt"></i>
              </span>
              <span class="offer-start"><%= @order.total_quantity %> <%= "ingresso".pluralize(@order.total_quantity) %> <%= "selecionado".pluralize(@order.total_quantity) %>. <%= link_to "Editar?", event_path(@order.event), class: "has-text-primary content is-small" %></span>
            </div>
            <hr />
            <div class="columns is-vcentered is-multiline is-mobile">
              <div class="column is-5 has-text-left offer-header">
                Tipo
              </div>
              <div class="column is-4 has-text-centered offer-header">
                Valor
              </div>
              <div class="column is-3 has-text-right offer-header">
                Qtd.
              </div>
              <% @order.order_items.each do |order_item| %>
                <% if order_item.quantity > 0 %>
                  <div class="column is-5 has-text-left offer-content">
                    <%= order_item.offer.name %>
                  </div>
                  <div class="column is-4 has-text-centered offer-content">
                    <%= order_item.offer.price_with_service_fee.format %>
                  </div>
                  <div class="column is-3 has-text-right offer-content">
                    <%= order_item.quantity %>
                  </div>
                <% end %>
              <% end %>
              <div class="column total is-12">
                <hr />
                <p class="is-pulled-left">Total</p>
                <p class="is-pulled-right total"><span id="total"><%= @order.total.format %></span></p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="columns is-vcentered is-mobile animated slideInDown delay-1s">
          <div class="column is-1 is-offset-1">
            <span class="icon has-text-primary">
              <i class="far fa-2x fa-clock"></i>
            </span>
          </div>
          <div class="column is-10 is-forward-1">
            <p class="content is-size-7">
              <strong>Seu pedido está reservado por <span class="has-text-primary" id="remainingTime"></span></strong> <br />
              Por favor, finalize sua compra antes de esgotar o tempo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section expiredTime animated fadeIn">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 box">
        <p class="title">Tempo expirado</p>
        <p class="content">Para que você realize sua compra com segurança, nós reservamos o número de ingressos selecionados no período de <strong>15 minutos</strong>.</p>
        <p class="content">Infelizmente este tempo se esgotou. <br />Por favor, refaça sua compra dentro do período indicado.</p>
        <%= link_to "Tentar novamente", event_path(@order.event), class: "button is-primary" %>
      </div>
    </div>
  </div>
</div>