<% provide(:title, "Desbloquear conta") %>
<% content_for :navbar do %>
<%= render 'layouts/header_clean' %>
<% end %>



<section class="section login">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-5">
        <div class="card">
          <div class="card-content">
            <p class="title has-text-centered">Desbloquear conta</p>
            <br />

            <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "nome@exemplo.com" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class="control">
                    <%= f.button "Enviar instruções por email", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Aguarde..." }, class: "button is-primary is-medium" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p class="help"><%= render "users/shared/links" %></p>
                </div>
              </div>
            </nav>


          </div>
        </div>
      </div>

    </div>
  </div>
</section>
