<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section checkin">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-10">
		    <div class="tabcontent" id="check-in-reader">
		    	<div class="level">
		    		<div class="level-left">
		    			<div class="level-item">
		    				<div>
									<p class="title is-2">Check-in</p>
									<p class="subtitle is-size-7 is-marginless">
										&nbsp;
										<span class="icon is-small is-inline-block">
											<i class="fas fa-tag"></i>
										</span>
										<span><%= @event.name %></span>
										<span>&nbsp;&nbsp;</span>
										<span class="icon is-small is-inline-block">
											<i class="far fa-calendar-alt"></i>
										</span>
										<span><%= @event.start_t.strftime("%d/%m/%Y") %></span>
										<span>&nbsp;&nbsp;</span>
										<span class="icon is-small is-inline-block">
											<i class="fas fa-map-marker-alt"></i>
										</span>
										<span><%= @event.address.city %>/<%= @event.address.state %></span>
									</p>
								</div>
							</div>
		    		</div>
		    		<div class="level-right">
						  <a id="open-list" class="tablinks button is-large is-primary is-outlined" onclick="openTab(event, 'check-in-list')">
						    <span class="icon is-medium">
						      <i class="far fa-list-alt"></i>
						    </span>
						    <span class="title is-5">Ver Lista</span>
						  </a>
		    		</div>
		    	</div>
					<div class="columns is-centered">
						<div class="column is-narrow">
							<video id="qr-video"></video>
							<div class="columns">
								<div class="column is-4">
									<a id="switch-camera" class="button is-primary is-hidden">
										<span class="icon">
											<i class="fas fa-sync-alt"></i>
										</span>
										<span>Mudar Câmera</span>
									</a>
									<p id="qr-result"></p>
								</div>
							</div>
						</div>
					</div>
		    </div>
				<div class="tabcontent" id="check-in-list">
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<div>
									<p class="title is-2">Check-in</p>
									<p class="subtitle is-marginless is-size-7">
										&nbsp;
										<span class="icon is-small is-inline-block">
											<i class="fas fa-tag"></i>
										</span>
										<span><%= @event.name %></span>
										<span>&nbsp;&nbsp;</span>
										<span class="icon is-small is-inline-block">
											<i class="far fa-calendar-alt"></i>
										</span>
										<span><%= @event.start_t.strftime("%d/%m/%Y") %></span>
										<span>&nbsp;&nbsp;</span>
										<span class="icon is-small is-inline-block">
											<i class="fas fa-map-marker-alt"></i>
										</span>
										<span><%= @event.address.city %>/<%= @event.address.state %></span>
									</p>
								</div>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
							  <a id="open-camera" class="tablinks button is-large is-primary is-outlined" onclick="openTab(event, 'check-in-reader')">
							    <span class="icon is-medium">
							      <i class="fas fa-camera"></i>
							    </span>
							    <span class="title is-5">Ler QR Code</span>
							  </a>
							</div>
						</div>
					</div>
					<%= form_tag(request.original_url, method: "get") do %>
						<div class="field is-grouped">
			        <div class="control is-expanded check-in-search">
			          <input name="q" class="input is-large" type="text" placeholder="Nome do participante">
			        </div>
			        <% if params[:q].present? %>
			        <div class="control search">
			        	<button class="button clear is-white is-large">Limpar</button>
			        </div>
			        <% end %>
			        <div class="control search">
			        	<button class="button is-white is-large"><i class="fas fa-search"></i></button>
			        </div>
			      </div>
		      <% end %>
		      <table class="table check-in is-fullwidth is-narrow is-striped is-hoverable is-responsive events-table">
	          <thead>
	            <th>Nome</th>
	            <th># do Pedido</th>
	            <th>Status</th>
	            <th class="has-text-centered">Check-in</th>
	          </thead>
	          <tbody>
	            <% @tickets.each do |t| %>
								<tr id="<%= t.code %>">
		            	<%= render partial: "ticket_token_row", locals: {ticket_token: t} %>
		            </tr>
	            <% end %>
	          </tbody>
		      </table>
			    <div class="columns is-centered">
			    	<div class="column is-4 validation">
					    <%= paginate @tickets %>
					  </div>
				  </div>
		    </div>
		    <div id="modal" class="validation details is-hidden">
		    	<div class="columns is-centered">
		    		<div class="column is-12 box validation">
		    			<div id="new-validation"></div>
		    			<div id="success-validation" class="is-hidden">
		    				<p class="title is-1 has-text-success has-text-centered"><i class="fas fa-check-circle"></i></p>
		    				<p class="title is-4 has-text-centered">Check-in realizado</p>
		    				<span class="icon is-inline-block is-small">
		    					<i class="fas fa-user"></i>
		    				</span>
		    				<span class="title is-7">NOME:</span>
		    				<span>Nome Sobrenome</span><br />
		    				<span class="icon is-inline-block is-small">
		    					<i class="fas fa-hashtag"></i>
		    				</span>
		    				<span class="title is-7">NÚMERO DO PEDIDO:</span>
		    				<span>13123123123123</span><br /><br /><br /><br />
		    				<p class="has-text-centered">
		    					<a class="button is-large is-fullwidth is-success title is-5">
		    						OK
		    					</a>
		    				</p>
		    			</div>
		    			<div id="error-validation" class="is-hidden">
		    				<p class="title is-1 has-text-danger has-text-centered"><i class="fas fa-times-circle"></i></i></p>
		    				<p class="title is-4 has-text-centered">Algo deu errado.</p>
		    				<p class="has-text-centered">Tente novamente.</p><br /><br />
		    				<p class="has-text-centered">
		    					<a class="button is-large is-link title is-5">
		    						Entendi
		    					</a>
		    				</p>
		    			</div>
		    		</div>
		    	</div>
		    </div>
			</div>
		</div>
	</div>
</section>
