<section class="section hero">
  <div class="container hero-content">
  </div>
</section>
<section class="section event-new">
	<div class="container">
		<div class="columns is-centered">
	        <div class="column is-3">        
	            <aside class="menu">
					<p class="menu-label">Informações da Empresa</p>
					<ul class="menu-list">
						<li><a class="is-active">Eventos</a></li>
						<li><a>Equipe</a></li>
						<li><a>Orçamento</a></li>
						<li><a>Vendas</a></li>
						<li><a>Ajuda</a></li>
					</ul>
	            </aside>
	        </div>
	        <div class="column is-6">
	        	<div class="card">
	        		<table class="table is-fullwidth">
	        			<thead>
	        				<th>Evento</th>
	        				<th>Quando</th>
	        				<th>Onde</th>
	        			</thead>
	        			<tbody>
	        				<% @events.each do |event| %>
	        				<tr>
	        					<td><%= event.name %></td>
	        					<td><%= event.start_t.strftime("%d/%m/%Y") %></td>
	        					<td><%= event.event_venue.state %></td>
	        					<td>
	        						<%= link_to edit_event_path(event) do %>
								        <span class="icon">
			        						<i class="far fa-edit"></i>
			        					</span>
		        					<% end %>
	        					</td>
	        					<td>
	        						<%= link_to nil do %>
								        <span class="icon">
			        						<i class="fas fa-external-link-alt"></i>
			        					</span>
		        					<% end %>
	        					</td>
	        				</tr>
	        				<% end %>
	        			</tbody>
	        		</table>
	        	</div>
	        </div>
		</div>
	</div>
</section>