<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
<script>
document.addEventListener("DOMContentLoaded", function(){
    toggle();
    initMap(<%=@event.address.latitude%>, <%=@event.address.longitude%>);
});
</script>
<script>
  imgurl = "<%= url_for(@event.hero_image) %>"
</script>
<style>
  .section.hero-event { background-image: linear-gradient(rgba(20,20,25,0.6), rgba(20,20,25,0.6)), url(<%= url_for(@event.hero_image) %>); }
</style>

<section class="section hero-event events-show">
  <div class="hero-content-event">
    <div class="container">
      <div class="columns is-multiline event header">
        <% if @event.video.present? %>
          <div class="column is-12 has-text-centered">
            <a class="video-btn" data-src="<%= @event.video %>">
              <span class="icon has-text-white">
                <i class="fas fa-4x fa-play"></i>
              </span>
            </a>
          </div>
        <% end %> 
        <div class="column event title is-11 is-offset-1">
          <p class="event title has-text-white"><%= @event.name %></span></p>
        </div> 
      </div>
    </div>

    <div class="columns is-hidden-tablet">
      <div class="column is-11 is-offset-1">
        <table class="event table is-narrow">
          <tbody>
            <tr>
              <td class="spacer"></td>
              <td><span class="icon"><i class="far fa-calendar-check has-text-grey-light"></i></span></td>
              <td><span class="has-text-grey"><%= l @event.start_t, format: ("%d de %B de %Y") %></span></td>
              <td class="spacer"></td>
            </tr>
            <tr>
              <td class="spacer"></td>
              <td><span class="icon"><i class="far fa-clock has-text-grey-light"></i></span></td>
              <td><span class="has-text-grey"><%= l @event.start_t, format: ("%H horas") %></span></td>
              <td class="spacer"></td>
            </tr>
            <tr>
              <td class="spacer"></td>
              <td><span class="icon"><i class="fas fa-map-marker-alt has-text-grey-light"></i></span></td>
              <td><span class="has-text-grey"><%= truncate(@event.address.name, length: 15) %> - <%= truncate(@event.address.city, length: 24) %>/<%= @event.address.state %></span></td>
              <td class="spacer"></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="infobar" class="is-hidden-mobile">
    <div class="container">
      <div class="columns">
        <div class="column is-11 is-offset-1 is-vcentered">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon is-medium">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="far fa-calendar-check fa-stack-1x has-text-white"></i>
                  </span>
                </span>
              </div>
              <div class="level-item">
                <span class="info"><%= l @event.start_t, format: ("%d de %B de %Y") %></span>
              </div>
              <div class="level-item spacer">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="far fa-clock fa-stack-1x has-text-white"></i>
                </span>
              </div>
              <div class="level-item">
                <span class="info"><%= l @event.start_t, format: ("%H horas") %></span>
              </div>
              <div class="level-item spacer">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-map-marker-alt fa-stack-1x has-text-white"></i>
                </span>
              </div>
              <div class="level-item">
                <span class="info"><%= @event.address.name %> - <%= truncate(@event.address.city, length: 24) %>/<%= @event.address.state %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section description">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="columns description is-multiline">
          <% if @event.features.present? %>
            <div class="column is-full">
              <p class="title event-content">UM POUCO SOBRE <span class="lightvibrant"><%= @event.name %></span></p>
              <ul class="features">
                <%= sanitize @event.features %>
              </ul>
            </div>
            <div class="column is-full">
              <hr />
            </div>
          <% end %>

          <div class="column is-full">
            <% if @event.content_image.attached? %>
              <%= image_tag @event.content_image %>
            <% end %>
            <p class="title event-content"><%= sanitize @event.headline %></p>
            <p><%= sanitize @event.description %></p>
          </div>
          <div class="column is-full">
            <hr />
          </div>

          <div class="column is-full">
            <p class="title event-content">COMO CHEGAR EM <span class="lightvibrant"><%= @event.address.name %></span></p>
            <p>
              <span class="icon">
                <i class="fas fa-map-marked-alt"></i>
              </span>
              <%= @event.address.address %>, <%= @event.address.number %> - <%= @event.address.district %>
            </p>
            <p>
              <span class="icon">
                <i class="fas fa-globe-americas"></i>
              </span>
              <%= @event.address.city %>/<%= @event.address.state %>
            </p>
            <p>&nbsp;</p>
            <p>
              <div id="map"></div>
            </p>
          </div>

          <% if @event.testimonial_images.present? %>
              <div class="column is-full">
                <hr />
              </div>
              <div class="column is-full">
                <p class="title event-content">O QUE DIZEM <span class="lightvibrant">SOBRE O SHOW?</span></p>
                <div class="carousel carousel-animated carousel-animate-fade" data-autoplay="true" data-delay="4500">
                  <div class="carousel-container">
                    <% @event.testimonial_images.each do |t| %>
                      <div class="carousel-item">
                        <%= image_tag t, class: "is-background testimonial", width:"450vw" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>

        </div>
      </div>
      <div class="column is-4">
        <div class="event offers card">
          <div class="card-content">
            <%= form_for @order, url: new_order_path, method: "get" do |f| %>
              <%= f.hidden_field :event_id, value: @order.event.id %>
              <div class="columns is-mobile">
                <div class="column is-6">
                  <p class="tickets title">Ingressos</p>
                </div>
                <div class="column is-6 has-text-right">
                  <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </span>
                  <span>R$</span><span id="total_price">0,00</span>
                </div>
              </div>
              <ul>
                <% @event.offers.order(price_cents: :asc).active.each do |offer| %>
                  <li>
                    <hr />
                    <div class="columns is-vcentered is-multiline is-mobile">
                      <div class="column is-5">
                        <p class="is-size-6"><%= offer.name %></p>
                      </div>
                      <div class="column is-3 is-paddingless">
                        <p><%= offer.price_with_service_fee.format %></p>
                      </div>
                      <div class="column is-3">
                        <%= f.fields_for :order_items do |order_item_f| %>
                          <%= order_item_f.hidden_field :offer_id, value: offer.id %>
                          <% if offer.available_quantity > 0 %>
                            <div class="level is-mobile">
                              <div class="level-item">
                                <span class="icon is-small button minus">
                                  <i class="fas fa-minus"></i>
                                </span>
                              </div>
                              <div class="level-item">
                                <%= order_item_f.hidden_field :quantity, value: 0, class: "quantity-input", data: { price: offer.price_with_service_fee.to_f, max: [5, offer.available_quantity].min }, placeholder: "quantidade" %>
                                <span class="quantity-view">
                                  0
                                </span>
                              </div>
                              <div class="level-item">
                                <span class="icon is-small button plus">
                                  <i class="fas fa-plus"></i>
                                </span>
                              </div>
                            </div>
                          <% else %>
                            <%= order_item_f.hidden_field :quantity, value: 0 %>
                            <span class="tag is-light">ESGOTADO</span>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="column is-12 offer-info">
                        <div class="level">
                          <div class="level-left">
                            <% if offer.description? %>
                              <div class="level-item">
                                <a class="toggle button">Mais info<i class="fas fa-sort-down"></i></a>
                                <div class="offer-info-content dismiss is-hidden">
                                  <a class="button">ESCONDER<i class="fas fa-sort-up"></i></a>
                                  <div class="has-background-light animated fadeIn fast">
                                    <%= sanitize offer.description %>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                            <% if offer.available_quantity < 50 %>
                              <div class="level-item">
                                <span class="icon is-block is-small has-text-danger"><i class="fas fa-fire"></i></span>
                                <span class="subtitle is-7">&nbsp;POPULAR</span>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
              <div class="control" style="margin-top: 2.5rem;">
                <%= f.button "Comprar", class: "button is-primary is-medium is-fullwidth" %>
              </div>
            <% end %>
          </div>
          <footer class="card-footer">
            <a class="hide-cart">Voltar</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section faq">
  <div class="container">
    <p class="title has-text-centered is-4">PERGUNTAS E RESPOSTAS</p>
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card">
          <header class="card-header toggle">
            <p class="card-header-title">
              MEU PEDIDO FOI CONCLUÍDO?
            </p>
            <span class="card-header-icon">
              <i class="fas fa-angle-down"></i>
            </span>
          </header>
          <div class="dismiss is-hidden">
          <header class="card-header">
            <p class="card-header-title has-text-primary">
              MEU PEDIDO FOI CONCLUÍDO?
            </p>
            <span class="card-header-icon has-text-primary">
              <i class="fas fa-angle-up"></i>
            </span>
          </header>
            <div class="card-content">
              Caso o seu pagamento tenha sido aprovado, você receberá um e-mail com todas as informações que precisa para retirar o seu ingresso na portaria do evento
            </div>
          </div>
        </div>

        <div class="card">
          <header class="card-header toggle">
            <p class="card-header-title">
              ONDE ESTÃO MEUS INGRESSOS?
            </p>
            <span class="card-header-icon">
              <i class="fas fa-angle-down"></i>
            </span>
          </header>
          <div class="dismiss is-hidden">
          <header class="card-header">
            <p class="card-header-title has-text-primary">
              ONDE ESTÃO MEUS INGRESSOS?
            </p>
            <span class="card-header-icon has-text-primary">
              <i class="fas fa-angle-up"></i>
            </span>
          </header>
            <div class="card-content">
              <p>Após sua compra ser aprovada você receberá um e-mail com todas as informações sobre sua compra e, inclusive, seu ingresso que estará disponível no formato de QR code. Todos os seus convidados receberão seus respectivos ingressos por e-mail.</p><br />

              <p><strong>IMPORTANTE:</strong> Leve o pdf gerado com o QR code em seu celular caso não tenha acesso a internet no local, é importante ter em mãos o número do pedido para evitar qualquer problema.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <header class="card-header toggle">
            <p class="card-header-title">
              PRECISO IMPRIMIR MEU(S) INGRESSO(S)?
            </p>
            <span class="card-header-icon">
              <i class="fas fa-angle-down"></i>
            </span>
          </header>
          <div class="dismiss is-hidden">
          <header class="card-header">
            <p class="card-header-title has-text-primary">
              PRECISO IMPRIMIR MEU(S) INGRESSO(S)?
            </p>
            <span class="card-header-icon has-text-primary">
              <i class="fas fa-angle-up"></i>
            </span>
          </header>
            <div class="card-content">
              Você pode levar o PDF gerado após o pagamento com o QR CODE e as informações da compra no celular, mas a forma mais segura é imprimir este documento.
            </div>
          </div>
        </div>

        <div class="card">
          <header class="card-header toggle">
            <p class="card-header-title">
              OUTRAS DÚVIDAS?
            </p>
            <span class="card-header-icon">
              <i class="fas fa-angle-down"></i>
            </span>
          </header>
          <div class="dismiss is-hidden">
          <header class="card-header">
            <p class="card-header-title has-text-primary">
              OUTRAS DÚVIDAS?
            </p>
            <span class="card-header-icon has-text-primary">
              <i class="fas fa-angle-up"></i>
            </span>
          </header>
            <div class="card-content">
              Se você tiver dúvidas relacionadas especificamente com o evento ou desejar pedir um reembolso, entre diretamente em contato com o organizador do evento. Você pode fazer isso respondendo ao seu email de confirmação de pedido, a partir dos detalhes de seu pedido ou a partir da página do evento.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="section mobBtn is-hidden-desktop">
  <div class="container has-text-centered">
    <a class="button is-primary is-medium cart-btn">VER INGRESSOS</a>
  </div>
</section>


<div class="modal">
  <div class="video-background"></div>
  <div class="modal-content back">
    <p><span class="icon has-text-primary"><i class="fas fa-arrow-left"></i></span> Voltar</p>
  </div>
  <div class="modal-content img-raised">
    <div class="container has-text-centered embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow=autoplay></iframe>
    </div>
  </div>
</div>
