<%= javascript_include_tag "events/colors", defer: true %>
<%= javascript_include_tag "toggle", async: true %>
<%= javascript_include_tag "events/cart", defer: true %>
<%= javascript_include_tag "events/maps", defer: true %>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
<script>
document.addEventListener("DOMContentLoaded", function(){
    initMap(<%=@event.event_venue.latitude%>, <%=@event.event_venue.longitude%>);
    var accordions = bulmaAccordion.attach();
});
</script>
<script>
  imgurl = "<%= url_for(@event.image) %>"
</script>
<style>
  .section.hero-event { background-image: url(<%= url_for(@event.image) %>); }
</style>

<section class="section hero-event">
  <div class="hero-content-event">
    <div class="container">
      <div class="columns is-multiline event header">
        <% if @event.video.present? %>
          <div class="column is-12 has-text-centered">
            <a class="video-btn">
              <span class="icon has-text-white">
                <i class="fas fa-4x fa-play"></i>
              </span>
            </a>
          </div>
        <% end %> 
        <div class="column is-11 is-offset-1">
          <p class="event title has-text-white"><%= @event.name %></span></p>
        </div> 
      </div>
    </div>

    <div class="columns is-hidden-tablet">
      <div class="column is-11 is-offset-1">
        <table class="event table is-narrow">
          <tbody>
            <tr>
              <td class="spacer"></td>
              <td><span class="icon"><i class="far fa-calendar-check has-text-grey-light"></i></span></td>
              <td><span class="has-text-grey"><%= l @event.start_t, format: ("%d de %B de %Y") %></span></td>
              <td class="spacer"></td>
            </tr>
            <tr>
              <td class="spacer"></td>
              <td><span class="icon"><i class="far fa-clock has-text-grey-light"></i></span></td>
              <td><span class="has-text-grey"><%= l @event.start_t, format: ("%H horas") %></span></td>
              <td class="spacer"></td>
            </tr>
            <tr>
              <td class="spacer"></td>
              <td><span class="icon"><i class="fas fa-map-marker-alt has-text-grey-light"></i></span></td>
              <td><span class="has-text-grey"><%= truncate(@event.event_venue.name, length: 15) %> - <%= truncate(@event.event_venue.city, length: 24) %>/<%= @event.event_venue.state %></span>
              <td class="spacer"></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="infobar" class="is-hidden-mobile">
    <div class="container">
      <div class="columns">
        <div class="column is-11 is-offset-1 is-vcentered">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon is-medium">
                  <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="far fa-calendar-check fa-stack-1x has-text-white"></i>
                  </span>
                </span>
              </div>
              <div class="level-item">
                <span class="info"><%= l @event.start_t, format: ("%d de %B de %Y") %></span>
              </div>
              <div class="level-item spacer">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="far fa-clock fa-stack-1x has-text-white"></i>
                </span>
              </div>
              <div class="level-item">
                <span class="info"><%= l @event.start_t, format: ("%H horas") %></span>
              </div>
              <div class="level-item spacer">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-map-marker-alt fa-stack-1x has-text-white"></i>
                </span>
              </div>
              <div class="level-item">
                <span class="info"><%= @event.event_venue.name %> - <%= truncate(@event.event_venue.city, length: 24) %>/<%= @event.event_venue.state %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section description">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="content">
          <p class="about event">Sobre o Evento</p>
          <p class="about event-name has-text-primary"><%= @event.headline %></p>
          <div class="has-text-grey-dark"><%= sanitize @event.description %></div>
        </div>

        <hr />

        <div class="content">
          <p class="about event">Como Chegar</p>
          <p class="about event-name has-text-primary"><%= @event.event_venue.name %></p>
          <p>
            <div id="map"></div>
          </p>
        </div>        
      </div>
      <div class="column is-4">
        <div class="event offers card">
          <div class="card-content">
            <%= form_for @order, url: new_order_path, method: "get" do |f| %>
            <div class="columns">
              <div class="column is-6">
                <p class="tickets title">Ingressos</p>
              </div>
              <div class="column is-3 is-offset-3">
                <p>
                  <span>R$</span><span id="total_price">0,00</span>
                </p>
              </div>
            </div>
              <ul>
                <% @event.offers.each do |offer| %>
                  <li>
                    <div class="columns is-vcentered">
                      <div class="column is-4">
                        <p><%= offer.name %></p>
                      </div>
                      <div class="column is-3">
                        <p><%= value_to_currency(offer.price) %></p>
                      </div>
                      <div class="column is-5">
                        <%= f.fields_for :order_items do |order_item_f| %>
                          <%= order_item_f.hidden_field :offer_id, value: offer.id %>
                          <div class="control">
                            <%= order_item_f.number_field :quantity, value: 0, class: "input quantity-input", data: { price: offer.price }, placeholder: "quantidade" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
              <div class="control" style="margin-top: 2.5rem;">
                <%= f.button "Comprar", class: "button is-primary is-medium is-fullwidth" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>