<% content_for :navbar do %>
  <%= render 'layouts/header' %>
<% end %>

<style>
  .homeHero { 
    background: url(<%= asset_pack_path("media/assets/images/hero/#{rand(29)}.jpg") %>) no-repeat left/cover;
  }
</style>

<div class="homeHero"></div>

<section class="section home">
  <div class="container">
    <h1>
      A vida é um evento. <br />
      Nós temos os ingressos.
    </h1>
    <%= form_tag("/search", method: "get") do %>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input name="q" class="input" type="text" placeholder="Busque seu próximo evento...">
        </div>
        <div class="control">
          <button class="button is-white is-large"><%= image_tag asset_pack_path("media/assets/images/icons/search.svg") %></button>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="section featured">
  <div class="container">
    <h2>Eventos em destaque</h2>
    <div class="columns is-multiline <%= @highlights.count.odd? ? 'odd' : 'even' %>">
      <% @highlights.each do |event| %>
        <div class="column">
          
          <div class="eventCard" style="background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%), url(<%= rails_blob_path event.hero_image %>);">
            <%= link_to event_path(event) do %>
              <div class="eventOverlay">
                <div class="itemsLeft">
                  <div class="soldTickets">
                    <% if event.sold >= 1000 %>
                      <%= image_tag asset_pack_path("media/assets/images/icons/tickets.svg") %>
                      <p class="ticketsNumber">Vendidos<br />+<%= number_to_human(event.sold) %></p>
                    <% end %>
                  </div>
                  <div class="info">
                    <% if event.running_out? %>
                      <p class="popularTag">Esgotando</p>
                    <% elsif event.sold >= 500 %>
                      <p class="popularTag">Popular</p>
                    <% end %>
                    <p class="eventName <% if event.name.length > 25 %>long<% end %>"><%= truncate(event.name, length: 35) %></p>
                    <p class="eventDate"><%= l event.start_t, format: ("%d de %B de %Y") %></p>
                    <p class="eventCity"><%= image_tag asset_pack_path("media/assets/images/icons/pin.svg") %><%= truncate(event.address.city, length: 24) %>/<%= event.address.state %></p>
                  </div>
                </div>
                <div class="itemsRight">
                  <div>
                  </div>
                  <div>
                    <span class="icon">
                      <i class="fas fa-chevron-right animated fadeInLeft fast"></i>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="wishList">
              <a>
                <%= image_tag asset_pack_path("media/assets/images/icons/heart.svg") %>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% unless signed_in? %>
  <section class="section registerCTA">
    <div class="container">
      <div>
        Fique por dentro de quando vão rolar <br />
        seus eventos favoritos <%= image_tag asset_pack_path("media/assets/images/icons/heart.svg") %>
      </div>
      <div>
        <%= link_to "Cadastre-se", signup_path, class: "button" %>
        <span class="vr"></span>
        <a href="http://fb.com/partiuingresso/" target="_blank">
          <%= image_tag asset_pack_path("media/assets/images/icons/fb.svg") %>
        </a>
        <a href="https://instagram.com/partiuingresso/" target="_blank">
          <%= image_tag asset_pack_path("media/assets/images/icons/insta.svg") %>
        </a>
        <a href="https://twitter.com/partiuingresso" target="_blank">
          <%= image_tag asset_pack_path("media/assets/images/icons/twitter.svg") %>
        </a>
      </div>
    </div>
  </section>
<% end %>

<% if @events.count >= 1 %>
  <div class="ellipse">
    <div>
      <%= image_tag asset_pack_path("media/assets/images/elements/ellipse.svg") %>
    </div>
  </div>


  <section class="section filterEvents">
    <div class="container">
      <div class="selectCity">
        <%= image_tag asset_pack_path("media/assets/images/icons/pin.svg") %>
        <%= @user_location.region %>
        <%= image_tag asset_pack_path("media/assets/images/icons/down.svg") %>
      </div>
      <div class="selectFilter">
        Quero ir a um evento de <span class="selectCategory">música <%= image_tag asset_pack_path("media/assets/images/icons/down-blue.svg") %></span> <span class="selectWhen">neste final de semana <%= image_tag asset_pack_path("media/assets/images/icons/down-blue.svg") %></span>
      </div>
      <div class="tempTitle">
        Mais eventos
      </div>
    </div>
  </section>


  <section class="section moreEvents">
    <div class="container">
      <div class="columns is-multiline <%= @events.count.odd? ? 'odd' : 'even' %>">
        <% @events.each do |event| %>
          <div class="column">
            <div class="eventCard" style="background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%), url(<%= rails_blob_path event.hero_image %>);">
              <%= link_to event_path(event) do %>
                <div class="eventOverlay">
                  <div class="itemsLeft">                  
                    <div class="soldTickets">
                      <% if event.sold >= 1000 %>
                        <%= image_tag asset_pack_path("media/assets/images/icons/tickets.svg") %>
                        <p class="ticketsNumber">Vendidos<br />+<%= number_to_human(event.sold) %></p>
                      <% end %>
                    </div>
                    <div class="info">
                      <% if event.running_out? %>
                        <p class="popularTag">Esgotando</p>
                      <% elsif event.sold >= 500 %>
                        <p class="runningOutTag">Popular</p>
                      <% end %>
                      <p class="eventName <% if event.name.length > 25 %>long<% end %>"><%= truncate(event.name, length: 35) %></p>
                      <p class="eventDate"><%= l event.start_t, format: ("%d de %B de %Y") %></p>
                      <p class="eventCity"><%= image_tag asset_pack_path("media/assets/images/icons/pin.svg") %><%= truncate(event.address.city, length: 24) %>/<%= event.address.state %></p>
                    </div>
                  </div>
                  <div class="itemsRight">
                    <div>
                      <span class="icon">
                        <i class="fas fa-chevron-right animated fadeInLeft fast"></i>
                      </span>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="wishList">
                <a>
                  <%= image_tag asset_pack_path("media/assets/images/icons/heart.svg") %>
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<section class="section sellerCTA">
  <div class="container">
    <div>
      Publicar seu evento na Partiu é fácil <br />
      e grátis!
    </div>
    <div>
      <%= link_to "Comece agora", new_seller_path, class: "button" %>
      <%= link_to "Saiba mais", '#', class: "learnMore" %>
    </div>
  </div>
</section>