<section class="section results <%= browser.mobile? ? 'featuredMob' : '' %>">
  <div class="container">
    <% if @events.any? %>
      <p class="search title has-text-centered">
        Exibindo resultados para <em class="has-text-primary"><%= sanitize params[:q] %></em>
      </p>
      <% @events.each do |event| %>
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="eventCard" style="background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%), url(<%= rails_blob_path event.hero_image %>);">
              <%= link_to event_path(event) do %>
                <div class="eventOverlay">
                  <div class="itemsLeft">
                    <div class="soldTickets">
                      <% if event.sold >= 1000 %>
                        <%= image_tag asset_pack_path("media/assets/images/icons/tickets.svg") %>
                        <p class="ticketsNumber">Vendidos<br />+<%= number_to_human(event.sold) %></p>
                      <% end %>
                    </div>
                    <div class="info">
                      <% if event.running_out? %>
                        <p class="popularTag">Esgotando</p>
                      <% elsif event.sold >= 500 %>
                        <p class="popularTag">Popular</p>
                      <% end %>
                      <p class="eventName <% if event.name.length > 25 %>long<% end %>"><%= truncate(event.name, length: 35) %></p>
                      <p class="eventDate"><%= l event.start_t, format: ("%d de %B de %Y") %></p>
                      <p class="eventCity"><%= image_tag asset_pack_path("media/assets/images/icons/pin.svg") %><%= truncate(event.address.city, length: 24) %>/<%= event.address.state %></p>
                    </div>
                  </div>
                  <div class="itemsRight">
                    <div>
                    </div>
                    <div>
                      <span class="icon">
                        <i class="fas fa-chevron-right animated fadeInLeft fast"></i>
                      </span>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="wishList">
                <a>
                  <%= image_tag asset_pack_path("media/assets/images/icons/heart.svg") %>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="search title has-text-centered">
        Nenhum resultado encontrado para <em><%= sanitize params[:q] %></em>
      </p>
      <p class="help has-text-centered">
        <%= link_to "<- Voltar", root_path %>
      </p>
    <% end %>
  </div>
</section>