<style>
  .section.hero-home { background-image: linear-gradient(rgba(20,20,25,0.5), rgba(20,20,25,0.5)), url(<%= asset_pack_path("media/application/images/hero/#{rand(29)}.jpg") %>); }
</style>

<section class="section hero-home">
  <div class="container hero-content-home">
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered">
        <%= form_tag("/search", method: "get") do %>
          <div class="field is-grouped">
            <div class="control is-expanded search">
              <input name="q" class="input is-large" type="text" placeholder="Busque seu próximo evento e partiu">
            </div>
            <div class="control search">
              <button class="button is-white is-large"><i class="fas fa-search"></i></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section home-tickets">
  <div class="container">
    <p class="title recents is-4">Mais recentes</p>   
    <% if @events.count >= 1 %>
      <div class="columns is-multiline">
        <% @events[0..0].try(:each) do |event| %>
          <div class="column is-5">
            <%= link_to event_path(event) do %>
              <div class="event box" style="background-image: linear-gradient(rgba(20,20,25,0.6), rgba(20,20,25,0.6)), url(<%= rails_blob_path event.hero_image %>);">
                <div class="event-overlay">
                  <div class="item-down">
                    <div>
                      <p class="event-name"><%= truncate(event.name, length: 30) %></p>
                      <p class="event-date"><%= l event.start_t, format: ("%d de %B de %Y") %></p>
                      <p class="event-city"><span class="icon is-small"><i class="fas fa-map-marker-alt"></i></span><%= truncate(event.address.city, length: 24) %>/<%= event.address.state %></p>
                    </div>
                  </div>
                  <div class="item-down-right">
                    <div>
                      <span class="icon">
                        <i class="fas fa-chevron-right animated fadeInLeft fast"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
         </div>
        <% end %>
        <% @events[1..1].try(:each) do |event| %>
          <div class="column is-7">
            <%= link_to event_path(event) do %>
              <div class="event box" style="background-image: linear-gradient(rgba(20,20,25,0.6), rgba(20,20,25,0.6)), url(<%= rails_blob_path event.hero_image %>);">
                <div class="event-overlay">
                  <div class="item-down">
                    <div>
                      <p class="event-name"><%= truncate(event.name, length: 30) %></p>
                      <p class="event-date"><%= l event.start_t, format: ("%d de %B de %Y") %></p>
                      <p class="event-city"><span class="icon is-small"><i class="fas fa-map-marker-alt"></i></span><%= truncate(event.address.city, length: 24) %>/<%= event.address.state %></p>
                    </div>
                  </div>
                  <div class="item-down-right">
                    <div>
                      <span class="icon">
                        <i class="fas fa-chevron-right animated fadeInLeft fast"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
         </div>
        <% end %>
        <% @events[2..5].try(:each) do |event| %>
          <div class="column is-3">
            <%= link_to event_path(event) do %>
              <div class="event box" style="background-image: linear-gradient(rgba(20,20,25,0.6), rgba(20,20,25,0.6)), url(<%= rails_blob_path event.hero_image %>);">
                <div class="event-overlay">
                  <div class="item-down">
                    <div>
                      <p class="event-name"><%= truncate(event.name, length: 30) %></p>
                      <p class="event-date"><%= l event.start_t, format: ("%d de %B de %Y") %></p>
                      <p class="event-city"><span class="icon is-small"><i class="fas fa-map-marker-alt"></i></span><%= truncate(event.address.city, length: 24) %>/<%= event.address.state %></p>
                    </div>
                  </div>
                  <div class="item-down-right">
                    <div>
                      <span class="icon">
                        <i class="fas fa-chevron-right animated fadeInLeft fast"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p> Não há evento listado no momento.</p>
    <% end %>
  </div>
</section>


<% unless signed_in? %>
  <div class="container">
    <hr />
  </div>

  <section class="section home-info">
    <div class="container">
      <div class="columns is-vcentered box cta-1 is-marginless">
        <div class="column is-6">
          <p class="title-cta">Fique por dentro de quando vão rolar seus eventos favoritos <i class="far fa-heart"></i></p>
        </div>
        <div class="column cta-right is-6">
          <div></div>
          <div class="is-flex">
            <%= link_to "Cadastre-se", signup_path, class: "button cta is-white has-text-primary" %><hr class="vertical" />
            <span class="icon is-medium"><i class="fab fa-lg fa-facebook-f"></i></span>
            <span class="icon is-medium"><i class="fab fa-lg fa-twitter"></i></span>
            <span class="icon is-medium"><i class="fab fa-lg fa-instagram"></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>