<% provide(:title, "Reenviar e-mail de confirmação") %>
<% content_for :navbar do %>
  &nbsp;
<% end %>
<% content_for :footer do %>
  &nbsp;
<% end %>

<div class="usersBg">
  <div class="usersCard">
    <div class="logo">
      <%= link_to image_tag(asset_pack_path("media/assets/images/logo-grad.svg"), alt:'PartiuIngresso.com', width:'33'), root_path %>
    </div>
    <div class="form">
      <div class="usersTitle">
        Reenviar email de confirmação
      </div>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <label class="label">Email</label>
            <div class="control email">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "nome@exemplo.com", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
        </div>

        <div class="signIn">
          <%= f.button "Enviar", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;Aguarde" }, class: "button" %>
          <%= link_to "<- Voltar", login_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>