<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section painel">
  <div class="container">
    <div class="columns is-centered">
        
        <div class="column is-3">        
          <%= render 'admin/admin_menu' %>
        </div>


      <div class="column is-8">
        <p class="title is-size-2">Cadastrar Nova Empresa</p>

        <%= form_with(model: @company, local: true) do |f| %>
          <% if @company.errors.any? %>
            <article class="message is-danger">
              <div class="message-body">
                <h2><%= pluralize(company.errors.count, "erro") %>:</h2>
                <ul>
                <% company.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            </article>
          <% end %>

        <div class="tile is-ancestor">

          <div class="tile is-8 is-vertical is-parent">

            <div class="tile is-child box">
                <div class="field">
                  <label class="label">Nome da Empresa</label>
                  <div class="control has-icons-left has-icons-right">
                    <%= f.text_field :name, autofocus: true, class: "input", placeholder: "Nome Fantasia" %>
                    <span class="icon is-small is-left">
                      <i class="far fa-building"></i>
                    </span>
                  </div>
                </div>
            </div>

            <div class="tile is-child">
              <div class="control has-text-right">
                <%= f.button "Cadastrar", class: "button is-primary is-medium", data: { "disable-with": "<i class='fa fa-spinner fa-spin'></i> Aguarde..." } %>
              </div>
              <% end %>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>