<%= javascript_pack_tag "admin/seller" %>

<section class="section seller-new">
  <div class="container">
    <div class="columns is-centered">
        
        <div class="column is-3">        
          <%= render 'admin/menu' %>
        </div>


      <div class="column is-8 is-offset-1">
        <p class="title is-size-2">Cadastrar Novo Produtor</p>
        <%= form_for @seller_form, url: admin_sellers_path do |f| %>
          <% if @seller_form.errors.any? %>
            <article class="message is-danger">
              <div class="message-body">
                <h2><%= pluralize(@seller_form.errors.count, "erro", "erros") %>:</h2>
                <ul>
                <% @seller_form.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            </article>
          <% end %>
          <div class="columns">
            <div class="column is-12">
              <%= f.fields_for :person do |person_f| %>
                <p class="title is-5">Dados pessoais</p>
                <div class="box">
                  <div class="field is-horizontal">
                    <div class="field-body">
                      <div class="field">
                        <div class="columns">
                          <div class="column is-7">
                            <label class="label">Nome</label>
                            <div class="field">
                              <div class="control">
                                <%= person_f.text_field :name, class: "input" %>
                              </div>
                            </div>
                          </div>
                          <div class="column is-5">
                            <label class="label">CPF</label>
                            <div class="control">
                              <%= person_f.text_field :document_number, maxlength: 14, class: "input cpf-input" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-body">
                      <div class="field">
                        <div class="columns">
                          <div class="column is-7">
                            <label class="label">Email</label>
                            <div class="field">
                              <div class="control">
                                <%= person_f.text_field :email, class: "input" %>
                              </div>
                            </div>
                          </div>
                          <div class="column is-5">
                            <label class="label">Telefone</label>
                            <div class="control">
                              <%= person_f.text_field :phone, maxlength: 16, class: "input phone-input" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                   <div class="field">
                    <label class="label">Data de Nascimento</label>
                    <div class="control">
                      <div class="select">
                        <%= person_f.date_select :birthdate, date_separator: "</div>&nbsp;<div class='select'>", start_year: Date.today.year, end_year: Date.today.year-100, prompt: {day: 'Dia', month: 'Mês', year: 'Ano'} %>
                      </div>
                    </div>
                  </div>
                  <%= person_f.fields_for :address do |address_f| %>
                    <div class="field">
                      <div class="columns">
                        <div class="column is-5">
                          <label class="label">CEP</label>
                          <div class="control">
                            <%= address_f.text_field :zipcode, maxlength: 9, class: "input cep-input" %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Endereço</label>
                      <div class="control">
                        <%= address_f.text_field :address, class: "input" %>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-body">
                        <div class="field">
                          <div class="columns">
                            <div class="column is-4">
                              <label class="label">Número</label>
                              <div class="control">
                                <%= address_f.text_field :number, class: "input" %>
                              </div>
                            </div>
                            <div class="column is-4">
                              <label class="label">Complemento</label>
                              <div class="control">
                                <%= address_f.text_field :complement, class: "input" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="columns">
                        <div class="column is-4">
                          <label class="label">Bairro</label>
                          <div class="control">
                            <%= address_f.text_field :district, class: "input" %>
                          </div>
                        </div>
                        <div class="column is-4">
                          <label class="label">Cidade</label>
                          <div class="control">
                            <%= address_f.text_field :city, class: "input" %>
                          </div>
                        </div>
                        <div class="column is-4">
                          <label class="label">Estado</label>
                          <div class="control">
                            <%= address_f.text_field :state, class: "input" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <p style="margin-top: 60px;" class="title is-5">Dados do Empresa</p>
              <div class="box">
                <div class="field">
                  <label class="label">Nome da Empresa</label>
                  <div class="control has-icons-left">
                    <%= f.text_field :name, class: "input", placeholder: "Nome Fantasia" %>
                    <span class="icon is-small is-left">
                      <i class="far fa-building"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Razão Social</label>
                  <div class="control">
                    <%= f.text_field :business_name, class: "input" %>
                  </div>
                </div>
                <div class="field">
                  <div class="columns">
                    <div class="column is-7">
                      <label class="label">CNPJ</label>
                      <div class="control">
                        <%= f.text_field :document_number, maxlength: 18, class: "input cnpj-input" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <div class="columns">
                        <div class="column is-7">
                          <label class="label">Email de Suporte</label>
                          <div class="control">
                            <%= f.email_field :email, class: "input" %>
                          </div>
                        </div>
                        <div class="column is-5">
                          <label class="label">Telefone</label>
                          <div class="control">
                            <%= f.text_field :phone, maxlength: 16, class: "input phone-input" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.fields_for :address do |address_f| %>
                  <div class="field">
                    <div class="columns">
                      <div class="column is-5">
                        <label class="label">CEP</label>
                        <div class="control">
                          <%= address_f.text_field :zipcode, maxlength: 9, class: "input cep-input" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Endereço</label>
                    <div class="control">
                      <%= address_f.text_field :address, class: "input" %>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-body">
                      <div class="field">
                        <div class="columns">
                          <div class="column is-4">
                            <label class="label">Número</label>
                            <div class="control">
                              <%= address_f.text_field :number, class: "input" %>
                            </div>
                          </div>
                          <div class="column is-4">
                            <label class="label">Complemento</label>
                            <div class="control">
                              <%= address_f.text_field :complement, class: "input" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <div class="columns">
                      <div class="column is-4">
                        <label class="label">Bairro</label>
                        <div class="control">
                          <%= address_f.text_field :district, class: "input" %>
                        </div>
                      </div>
                      <div class="column is-4">
                        <label class="label">Cidade</label>
                        <div class="control">
                          <%= address_f.text_field :city, class: "input" %>
                        </div>
                      </div>
                      <div class="column is-4">
                        <label class="label">Estado</label>
                        <div class="control">
                          <%= address_f.text_field :state, class: "input" %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="control has-text-right">
                <%= f.button "Cadastrar", class: "button is-primary is-medium", data: { "disable-with": "<i class='fa fa-spinner fa-spin'></i> Aguarde..." } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
