<p class="title is-size-2">Editar Negócio</p>

<%= form_with(model: [:producer_admin, @seller], local: true) do |f| %>
  <% if @seller.errors.any? %>
    <article class="message signup is-danger">
      <div class="message-body">
        <h2><%= pluralize(seller.errors.count, "erro") %> impediu que esta empresa fosse criada:</h2>
        <ul>
        <% seller.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </article>
  <% end %>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8 is-parent">
    <div class="tile is-child box">
      <div class="field">
        <label class="label">Nome da Empresa</label>
        <div class="control has-icons-left has-icons-right">
          <%= f.text_field :name, class: "input", placeholder: "Nome Fantasia" %>
          <span class="icon is-small is-left">
            <i class="far fa-building"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="tile is-child box">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">E-mail de Suporte</label>
            <div class="control has-icons-left has-icons-right">
              <%= f.email_field :email, class: "input" %>
              <span class="icon is-small is-left">
                <i class="far fa-envelope"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-child box">
      <label class="label is-size-5">Cadastrar Equipe</label>
      <%= fields_for :user do |user_f| %>
        <div class="columns">
          <div class="column is-9">
            <div class="field">
              <label class="label">Email do Usuário</label>
              <div class="control has-icons-left has-icons-right">
                <%= user_f.email_field :email, class: "input", placeholder: "Email" %>
                <span class="icon is-small is-left">
                  <i class="far fa-envelope"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="field">
              <div class="control">
                <label class="label">Função</label>
                <div class="select">
                  <%= user_f.select :role, options_for_select([['Equipe', :producer], ['Gerente', :producer_admin]]) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tile is-child">
      <div class="control has-text-right">
        <%= f.button "Salvar", class: "button is-primary is-medium", data: { "disable-with": "<i class='fa fa-spinner fa-spin'></i> Aguarde..." } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <label class="label is-size-5">Minha Equipe</label>
      <ul class="content is-small is-uppercase">
        <% @staff.each do |s| %>
          <li> 
            <% if s.producer_admin? %>
              <span class="has-text-grey content is-small">Gerente</span>
            <% end %>
            <% if s.producer? %>
              <span class="has-text-grey content is-small">Equipe</span>
            <% end %>
            <strong><%= s.name.full %></strong>
            <% if s.id != current_user.id %>
              <%= link_to remove_staff_path(:user_id => s.id), data: { confirm: "Deseja remover este usuário?" } do %>
                <span class="icon is-small has-text-danger">
                  <i class="fas fa-times"></i>
                </span>
              <% end %>
            <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
