<p class="title is-1 has-text-success has-text-centered"><i class="fas fa-user-check"></i></p>
<p class="title is-4">Confirmar check-in</p>
<span class="icon is-inline-block is-small">
  <i class="fas fa-hashtag"></i>
</span>
<span class="title is-7">NÚMERO DO PEDIDO:</span>
<span><%= ticket_token.order.number %></span>
<br />
<span class="icon is-inline-block is-small">
	<i class="fas fa-user"></i>
</span>
<span class="title is-7">NOME:</span>
<span><%= ticket_token.owner_name %></span>
<br />
<span class="icon is-inline-block is-small">
  <i class="fas fa-tag"></i>
</span>
<span class="title is-7">TIPO:</span>
<span><%= ticket_token.offer.name %></span>
<br /><br /><br /><br />
<%= form_with(id: "new_validation", model: ticket_token, url: validations_path, method: :create) do |f|%>
	<%= f.hidden_field :code %>
	<div class="field is-grouped">
		<div class="control">
			<a class="button cancel is-large title is-5">
				CANCELAR
			</a>
		</div>
		<div class="control">
			<%= f.button "CONFIRMAR", class: "button is-large is-success title is-5", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Aguarde..." } %>
		</div>
	</div>
<% end %>
