<footer class="default">
  <div class="container">
    <hr />
    <div class="footerWrapper">
      <div class="logowrapper">
        <%= image_tag asset_pack_path("media/assets/images/icone-light.svg"), alt:'PartiuIngresso.com', width:'23,56' %>
        <div class="copyright">
          PartiuIngresso.com 2019 ©<br />
          CR Comunicação e Tecnologia LTDA
        </div>
      </div>
      <div class="infowrapper">
        <div class="columns">
          <div class="column">
            <strong>Produtores</strong>
            <a href="https://ajuda.partiuingresso.com/hc/pt-br/articles/360034201773-Como-publicar-meu-evento-na-Partiu-">Publicar evento</a>
          </div>
          <div class="column">
            <strong>Mais informações</strong>
            <a href="https://ajuda.partiuingresso.com/hc/pt-br/articles/360033271154-Como-comprar-ingressos-">Como comprar</a>
            <a href="https://ajuda.partiuingresso.com/hc/pt-br/articles/360033391154-%C3%89-seguro-comprar-na-Partiu-">Confiança e segurança</a>
            <a href="https://ajuda.partiuingresso.com/hc/pt-br/articles/360031322174-Como-fa%C3%A7o-contato-com-a-produ%C3%A7%C3%A3o-do-evento-">Dúvidas sobre um evento</a>
          </div>
          <div class="column">
            <strong>Plataforma</strong>
            <%= link_to "Termos de uso", terms_path %>
            <%= link_to "Política de privacidade", privacy_path %>
          </div>
          <div class="column">
            <div class="socialLinks">
              <a href="http://fb.com/partiuingresso/" target="_blank">
                <%= image_tag asset_pack_path("media/assets/images/icons/fb.svg") %>
              </a>
              <a href="https://instagram.com/partiuingresso/" target="_blank">
                <%= image_tag asset_pack_path("media/assets/images/icons/insta.svg") %>
              </a>
              <a href="https://twitter.com/partiuingresso" target="_blank">
                <%= image_tag asset_pack_path("media/assets/images/icons/twitter.svg") %>
              </a>
            </div>
            <a href="https://transparencyreport.google.com/safe-browsing/search?url=partiuingresso.com" target="_blank">
              <%= image_tag asset_pack_path("media/assets/images/seguro.png"), width:'120', alt:'Site Seguro', class: 'seguro' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>