<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %><%= content_for?(:title) ? ' · ' : '' %>PartiuIngresso.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_pack_tag "application" %>
    <%= favicon_link_tag asset_pack_path("media/assets/images/favicon.png"), type: 'image/png' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-57GMS38');</script>
    <%= yield :head %>
  </head>

  <body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57GMS38" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <%= yield %>

    <% if content_for?(:footer) %>
      <%= yield(:footer) %>
    <% else %>
      <%= render 'layouts/footer' %>
    <% end %>

    <%= javascript_pack_tag "application" %>
    <%= render 'layouts/messages' %>
  </body>
</html>
