<footer class="footer">
  <hr />
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">
        <strong>PartiuIngresso</strong>
        <ul>
          <li><a href="https://ajuda.partiuingresso.com">Ajuda</a></li>
          <li><%= link_to "Termos de uso", terms_path %></li>
          <li><%= link_to "Política de privacidade", privacy_path %></li>
        </ul>
      </div>
      <div class="column is-3">
        <strong>Mais Informações</strong>
        <ul>
          <li><a href="https://ajuda.partiuingresso.com/hc/pt-br/articles/360033391154-%C3%89-seguro-comprar-na-Partiu-">Confiança e segurança</a></li>
          <li><a href="https://ajuda.partiuingresso.com/hc/pt-br/articles/360033271154-Como-comprar-ingressos-">Como comprar</a></li>
        </ul>
      </div>
      <div class="column is-3">
        <strong>Organizadores</strong>
        <ul>
          <li><a href="https://ajuda.partiuingresso.com/hc/pt-br/articles/360034201773-Como-publicar-meu-evento-na-Partiu-">Publicar Evento</a></li>
          <li><a href="https://ajuda.partiuingresso.com/hc/pt-br">Mais ajuda</a></li>
        </ul>
      </div>
      <div class="column is-2">
        <a href="http://fb.com/partiuingresso/" target="_blank">
          <span class="icon is-medium"><i class="fab fa-lg fa-facebook-f"></i></span>
        </a>
        <a href="https://twitter.com/partiuingresso" target="_blank">
          <span class="icon is-medium"><i class="fab fa-lg fa-twitter"></i></span>
        </a>
        <a href="https://instagram.com/partiuingresso/" target="_blank">
          <span class="icon is-medium"><i class="fab fa-lg fa-instagram"></i></span>
        </a>
        <ul>
          <li>
            <%= link_to "https://transparencyreport.google.com/safe-browsing/search?url=partiuingresso.com", target:'_blank' do %>
              <%= image_tag asset_pack_path("media/application/images/seguro.png"), width:'120', alt:'Site Seguro', class: 'seguro' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <%= link_to image_tag(asset_pack_path("media/application/images/icone.svg"), alt:'PartiuIngresso.com', width:'40', class:'logo'), root_path %>
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <p class="cnpj">
            CR COMUNICAÇÃO E TECNOLOGIA LTDA<br />
            31.419.883/0001-00
          </p>
        </div>
      </div>
    </div>

  </div>

</footer>