<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %><%= content_for?(:title) ? ' · ' : '' %>PartiuIngresso.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application' %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <%= render 'layouts/messages' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
