<%= javascript_include_tag "users/registrations/edit", defer: true %>

<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section painel">
  <div class="container">
    <div class="columns is-centered">
        
        <div class="column is-3">        
            <aside class="menu">
              <p class="menu-label">
                Meu Perfil
              </p>
              <ul class="menu-list">
                <li><a class="is-active">Editar Perfil</a></li>
              </ul>
              <p class="menu-label">
                Transações
              </p>
              <ul class="menu-list">
                <li><a>Meus Ingressos</a></li>
                <li><a>Pedidos</a></li>
                <li><a>Cartão de Crédito</a></li>
              </ul>
              <p class="menu-label">
                Área do Produtor
              </p>
              <ul class="menu-list">
                <li><a>Cadastrar Evento</a></li>
                <li><a>Editar Empresa</a></li>
                <li><a>Minhas Vendas</a></li>
              </ul>
            </aside>
        </div>


      <div class="column is-6">
        <div class="card">
          <div class="card-content">
            <h1 class="title is-size-2">Olá, <%= current_user.name.first %></h1>
            <p class="subtitle is-uppercase is-size-6 has-text-grey">USUÁRIO DESDE <%= l current_user.created_at, format: ("%B de %Y") %></p>
            <hr />
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                                                      html: { method: :put, novalidate: true }) do |f| %>
            <%= devise_error_messages! %>

              <div class="field">
                <label class="label">Nome Completo</label>
                <div class="control has-icons-left has-icons-right">
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input", placeholder: "Seu nome" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <div class="error-msg-area">
                  <span id="blank_name_error" class="error" aria-alive="polite">O campo "Nome" é obrigatório.</span>
                  <span id="invalid_name_error" class="error" aria-alive="polite">Digite nome e sobrenome.</span>
                </div>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <%= f.email_field :email, class: "input", autocomplete: "email" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <div class="error-msg-area">
                  <span id="blank_email_error" class="error" aria-alive="polite">O campo "Email" é obrigatório.</span>
                  <span id="invalid_email_error" class="error" aria-alive="polite">Email inválido.</span>
                </div>
              </div>

              <div class="field">
                <label class="label">CPF</label>
                <div class="control has-icons-left has-icons-right">
                  <%= f.text_field :cpf, autocomplete: "cpf", class: "input", placeholder: "Número do CPF", :data=> {:mask=> '999.999.999-99'} %>
                  <span class="icon is-small is-left">
                    <i class="far fa-id-card"></i>
                  </span>
                </div>
                <div class="error-msg-area">
                  <span id="blank_cpf_error" class="error" aria-alive="polite">O campo "Cpf" é obrigatório.</span>
                  <span id="invalid_cpf_error" class="error" aria-alive="polite">Cpf inválido.</span>
                </div>
              </div>

              <div class="columns">
                <div class="column is-narrow">
                  <div class="field">
                    <div class="control">
                      <label class="label is-normal">Sexo</label>
                      <div class="select">
                        <%= f.select :gender, options_for_select([['Masculino', 'Masculino'], ['Feminino', 'Feminino']], @user.gender), {prompt: 'Selecione'} %>
                      </div>
                    </div>
                    <div class="error-msg-area">
                      <span id="blank_gender_error" class="error" aria-alive="polite">O campo "Sexo" é obrigatório.</span>
                    </div>
                  </div>
                </div>
                <div class="column is-narrow">
                  <div class="field">

                    <div class="control">
                      <label class="label">Data de Nascimento</label>
                      <div class="select">
                        <%= f.date_select :birthday, date_separator: "</div>&nbsp;<div class='select'>", start_year: Date.today.year, end_year: Date.today.year-100, prompt: {day: 'Dia', month: 'Mês', year: 'Ano'} %>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="columns">
                <div class="column is-half">
                  <div class="field">
                    <label class="label">Mudar Senha</label>
                    <div class="control has-icons-left">
                      <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "********" %>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <p class="help">Deixe em branco caso não queira alterar sua senha</p>
                  </div>
                </div>
                <div class="column is-half">
                  <div class="field">
                    <label class="label">Confirmar Nova Senha</label>
                    <div class="control has-icons-left">
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "********" %>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label">Senha Atual</label>
                <div class="control has-icons-left has-icons-right">
                  <%= f.password_field :current_password, autocomplete: "current-password", class: "input", placeholder: "********" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <div class="error-msg-area">
                  <span id="blank_current_password_error" class="error" aria-alive="polite">O campo "Senha" é obrigatório.</span>
                </div>
                <p class="help">Necessário para salvar as alterações</p>
              </div>



              <div class="control">
                <%= f.button "Atualizar", class: "button is-primary is-medium" %>
                <% end %>
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>